<datalist id="tipodedocumentos">
  <option value="Cedula de Ciudadania"/>
  <option value="Registro Civil"/>
  <option value="Tarjeta de Identidad"/> 
</datalist> 
		<datalist id="Sexos">
			<option value="Masculino"/>
			<option value="Femenino"/> 
		</datalist> 
		<datalist id="LGBTI">
			<option value="Heterosexual"/>
			<option value="Homosexual"/>
			<option value="Travesti"/>
			<option value="TransSexual"/>
			<option value="Bisexual"/>
		</datalist> 
		<datalist id="LibretaMilitar">
			<option value="Si"/>
			<option value="No"/> 
		</datalist> 
		<datalist id="JefeHogar">
			<option value="Si"/> 
			<option value="No"/> 
		</datalist> 
		<datalist id="Vinculo">
			<option value="Esposo(a)"/>
			<option value="Compañero(a)"/>
			<option value="Hijo(a)"/>
			<option value="tio(a)"/>	
			<option value="Sobrino(a)"/>
		</datalist> 
		<datalist id="SISBEN">
			<option value="Si"/>
			<option value="No"/> 
		</datalist> 
		<datalist id="Afilidado">
			<option value="Si"/>
			<option value="No"/> 
		</datalist> 
		<datalist id="Salud">
			<option value="Contributivo"/>
			<option value="Subsidiado"/> 
		</datalist> 
		<datalist id="Discapacidad">
			<option value="Ninguna"/>
			<option value="Motora"/>
			<option value="Congnitiva"/>
			<option value="Auditiva"/>	
			<option value="Visual"/>
		</datalist> 
		<datalist id="OrigenDis">
			<option value="Antes   del Hecho Victimizante"/>
			<option value="Durante del Hecho Victimizante"/>
			<option value="Despues del Hecho Victimizante"/>	
		</datalist> 
		<datalist id="Estudio">
			<option value="Si"/> 
			<option value="No"/> 
		</datalist> 
		<datalist id="nivelEstudio">
			<option value="Ninguno"/> 
			<option value="Preescolar"/>
			<option value="Primaria"/>
			<option value="Primaria incompleta"/>
			<option value="Secundaria"/>
			<option value="Secundaria incompleta"/>
			<option value="Técnico"/>
			<option value="Técnico inconpleto"/>
			<option value="Tecnológico"/>
			<option value="Tecnológico inconpleto"/>
			<option value="Universitario"/>
			<option value="Universitario inconpleto"/>	
			<option value="Posgrado"/>	
		</datalist> 
		<datalist id="Leer">
			<option value="Si"/> 
			<option value="No"/> 
		</datalist> 
		<datalist id="Escribir">
			<option value="Si"/> 
			<option value="No"/> 
		</datalist> 
		<datalist id="Capacitacion">
			<option value="Si"/> 
			<option value="No"/> 
		</datalist> 
		<datalist id="Area">
			<option value="Agricultura"/> 
			<option value="Construcción"/>
			<option value="Manofactura"/>
			<option value="Minería"/>
			<option value="Transporte"/>
			<option value="Servicios"/>
			<option value="Ventas"/>
			<option value="Turismo"/> 
			<option value="Ganadería"/>
			<option value="Otros"/> 										
		</datalist> 
		<datalist id="EntidadC">
			<option value="SENA"/> 
			<option value="ONG"/>
			<option value="Cámara de Comercio"/>
			<option value="Municipio"/>
			<option value="Departamento"/>
			<option value="Otra"/>
		</datalist> 
		<datalist id="trabajo">
			<option value="Si"/> 
			<option value="No"/> 
		</datalist> 
		<datalist id="AreaTrabajo">
			<option value="Agricultura"/> 
			<option value="Construcción"/>
			<option value="Manofactura"/>
			<option value="Minería"/>
			<option value="Transporte"/>
			<option value="Servicios"/>
			<option value="Ventas"/>
			<option value="Turismo"/> 
			<option value="Ganadería"/>
			<option value="Otros"/> 										
		</datalist> 
		<datalist id="TipoTrabajo">
			<option value="Contrato indefinido"/> 
			<option value="Contrato con termino definido"/>
			<option value="Trabajo Informal"/>
			<option value="Contrato de Prestación de servicios"/>	
		</datalist> 
		<datalist id="grupoetnico">
			<option value="Ninguno"/> 
			<option value="Afrocolombiano"/> 
			<option value="Indígena"/>
			<option value="Raizal(San Andrés)"/>
			<option value="Gitano (ROM)"/>
		</datalist> 
			<datalist id="año">
				<option value="No Sabe"/>
				<option value="2014"/>
				<option value="2013"/> 
				<option value="2012"/>
				<option value="2011"/>
				<option value="2010"/>
				<option value="2009"/>
				<option value="2008"/>
				<option value="2006"/>
				<option value="2005"/>
				<option value="2004"/>
				<option value="2003"/>
				<option value="2002"/>
				<option value="2001"/>
				<option value="2000"/>
				<option value="1999"/>
				<option value="1998"/>
				<option value="1997"/>
				<option value="1996"/>
				<option value="1995"/>
				<option value="1994"/>
				<option value="1993"/>
				<option value="1992"/>
				<option value="1991"/>
				<option value="1990"/>
				<option value="1989"/>
				<option value="1988"/>
				<option value="1987"/>
				<option value="1986"/>
				<option value="1985"/>
			</datalist> 
			<datalist id="declaro">
				<option value="Si"/>
				<option value="No"/>
			</datalist> 
			<datalist id="Lugardeclaro">
				<option value="Personería"/>
				<option value="Defensoría"/>
				<option value="Procuraduría"/>
				<option value="Fiscalia"/>
				<option value="UAV"/>
			</datalist> 
			<datalist id="estado">
				<option value="incluido"/>
				<option value="Excluido"/>
			</datalist>
			<datalist id="Fiscalia">
				<option value="Si">
				<option value="No">
			</datalist> 				

<div class="mc-field-group" id="id_InformacionPersonal" >
	<div>
		<input type="text" value="<% if(datavictima){ %><%=datavictima.Tipodocumento %><% } %>" name="Tipodocumento" class="" id="id_tipodocumento" placeholder="Tipo de Documento (*)" list="tipodedocumentos"  
		  required title="Por favor ingresa un tipo de documento!"
		  onkeypress='return event.charCode > 0 && event.charCode < 0' autofocus />

		
		<input type="text" value="<% if(datavictima){ %><%=datavictima.Numerodocumento %><% } %>" name="Numerodocumento" class="" id="id_Numerodocumento" placeholder="Numero de Documento (*)" 
		 required title="Por favor ingresa un numero de documento!"
		onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
	</div>
	<div>
		<input type="text" value="<% if(datavictima){ %><%=datavictima.Nombres %><% } %>" name="Nombres" class="textInput " id="id_Nombres" placeholder="Nombres(*)"
		 required/>

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Apellidos %><% } %>" name="Apellidos" class="textInput " id="id_Appelidos" placeholder="Apellidos(*)"
		style=" " required/>

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Sexo %><% } %>" name="Sexo" class="" id="id_Sexo" placeholder="Sexo(*)" list="Sexos" 
		style="width: 100px;" required title="Por favor selecciona un Sexo!"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Orientacionsexual%><% } %>" name="Orientacionsexual"  id="id_Orientacionsexual" placeholder="Orientación Sexual" list="LGBTI" 
		 title="Por favor Seleccione una orientacion sexual!"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>
	</div>
	<div>
		<input type="text" value="<% if(datavictima){ %><%=datavictima.Libretamilitar%><% } %>" name="Libretamilitar" class="" id="id_Libretamilitar" placeholder="Libreta Militar" list="LibretaMilitar" 
		   title="Tiene libreta Militar?"
		  onkeypress='return event.charCode > 0 && event.charCode < 0'/>

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Jefehogar%><% } %>" name="Jefehogar" class="" id="id_Jefehogar" placeholder="Usted es jefe del Hogar ?" list="JefeHogar" 
		  title="jefe del hogar o Cabeza de Famlia"
		  onkeypress='return event.charCode > 0 && event.charCode < 0'/>

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Vinculo%><% } %>" name="Vinculo" class="" id="id_Vinculo" placeholder="Vinculo con el  jefe del Hogar ?" list="Vinculo" 
		  title="Cual es su parentesco con el jefe del hogar!"
		  onkeypress='return event.charCode > 0 && event.charCode < 0'/>
	</div>
	<!-- fecha de nacimiento -->
	<div>
		<input type="text" value="<% if(datavictima){ %><%=datavictima.Barrio%><% } %>" name="Barrio" class="textInput " id="Barrio" placeholder="Barrio" />

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Direccion%><% } %>" name="Direccion" class="" id="id_direccion" placeholder="Direccion"
		 title="Digite Direccion actual de residencia!"//>

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Telefono%><% } %>" name="Telefono" class="" id="id_telefono" placeholder="Numero de Telefono"
		 title="Por favor ingresa un numero de telefono!"
		onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
	</div>	
</div>
<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
<div class="mc-field-group" id="id_InformacionSalud" >
	<h3>Salud</h3>
	<div>		
		<input type="text" value="" name="SISBEN" id="id_" placeholder="SISBEN(*)" list="SISBEN"
		 required title="SISBEN!" onkeypress='return event.charCode > 0 && event.charCode < 0'/>

		<input type="text" value="" name="Afiliado" id="id_" placeholder="Está Afiliado a Salud?" list="Afilidado" 
		 title="Esta afiliado a Salud!" onkeypress='return event.charCode > 0 && event.charCode < 0'/>

		<input type="text" value="" name="Regimen" id="id_" placeholder="Regimen de salud?" list="Salud" 
		  title="Subsidiado por el gobierno O contribuido por la persona.!"	onkeypress='return event.charCode > 0 && event.charCode < 0'/>
	</div>

	<div>
		<input type="text" value="" name="Discapacidad" id="id_" placeholder="Discapacidad" list="Discapacidad" 
		 title="Posee usted algun tipo de Discapacidad!" onkeypress='return event.charCode > 0 && event.charCode < 0'/>

		<input type="text" value="" name="Origendis" id="id_" placeholder="Orígen de la discapacidad" list="OrigenDis" 
		 title="Cuando ocurrio la Incapacidad!"	onkeypress='return event.charCode > 0 && event.charCode < 0'/>
	</div>
</div>		
<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
<div class="mc-field-group" id="id_Educacion" >
	<h3>Educación</h3>
	<div>
		<input type="text" value="" name="Estudio" id="" placeholder="Estudia Actualmente?" list="Estudio" 
		style="width: 200px; " title="Estudia actualmente?!"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>

		<input type="text" value="" name="NivelEstudio" id="" placeholder="Nivel de Estudios" list="nivelEstudio" 
		style="width: 200px; " title="Que nivel alcanzó!"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>

		<input type="text" value="" name="Leer" id="" placeholder="Sabe Leer?" list="Leer" 
		style="width: 200px; "  title="Sabe leer!"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>

		<input type="text" value="" name="Escribir" id="" placeholder="Sabe Escribir?" list="Escribir" 
		style="width: 200px; " title="Sabe escribir?!"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>
	</div>
	<div>
		<input type="text" value="" name="Capacitacion" id="" placeholder="Ha recibido Cursos de Capacitación?" list="Capacitacion" 
		style="width: 250px; " title="Ha sido capacitado por algun ente gubernamental?"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>

		<input type="text" value="" name="Area" id="" placeholder="En que Área?" list="Area" 
		style="width: 200px; " title="en que Área fue capacitado?"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>

		<input type="text" value="" name="Entidadc" class="EntidadC" id="" placeholder="Que entidad lo Capacitó?" list="EntidadC"
		style="width: 237px; " title="Que entidad lo capacitó?"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>
	</div>
</div>
<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
<div class="mc-field-group" id="id_" >
	<h3>Información Laboral</h3>
	<div>
		<input type="text" value="" name="Trabajo" id="" placeholder="Labora Actualmente?" list="trabajo" 
		style="width: 200px; "  title="trabaja Actualmente?"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>

		<input type="text" value="" name="Areatrabajo" id="" placeholder="En que Área?" list="AreaTrabajo" 
		style="width: 200px; " title="Area de trabajo"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>

		<input type="text" value="" name="Tipotrabajo" id="" placeholder="Tipo de Vinculación Laboral" list="TipoTrabajo" 
		style="width: 237px; "  title="Que tipo de contrato tiene ?"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>
	</div>
</div>
<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
<div class="mc-field-group" id="id_" >
	<h3>Grupo Étnico</h3>
	<div>
		<input type="text" value="" name="grupoetnico"  id="" placeholder="Grupo Etnico(*)" list="grupoetnico" 
		style="width: 237px; " title="Pertenece algun Grupo Etnico?" required title="Grupo etnico!"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>
	</div>
</div>
<div class="mc-field-group" id="id_" style="background-color:aquamarine">
	<h3>Hechos Victimizantes</h3>
	<div>
		<input type="checkbox" name="hecho_victimizante" value="Homicidio" >Homicidio</input>
		<span>
			<input type="text" value="" name="hom_Ano" id="id_hom_Ano" placeholder="Año del hecho" list="año" 
			style="width: 120px; " title="Año en que Ocurrio el hecho Victimizante!" onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="" name="hom_Declarado" id="id_hom_Declarado" placeholder="¿Declaró?" list="declaro" 
			style="width: 88px; "  title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="" name="hom_Lugardeclarado" id="id_hom_Lugardeclarado" placeholder="¿Donde Declaró?" list="Lugardeclaro" 
			style="width: 135px; " title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="" name="hom_Estadodeclaracion" id="id_hom_Estadodeclaracion" placeholder="Estado" list="estado" 
			style="width: 88px; "  title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</span>
	</div>
	<div>
		<input type="checkbox" name="hecho_victimizante" value="Desaparicion" >Desaparición Forzada</input>
		<span>
			<input type="text" value="" name="des_Ano" id="foo" placeholder="Año del hecho" list="año" 
			style="width: 120px; " title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="" name="des_Declarado" id="foo" placeholder="¿Declaró?" list="declaro" 
			style="width: 88px; "  title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="" name="des_Lugardeclarado"  id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro"
			style="width: 135px; "  title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="" name="des_Estadodeclaracion" id="foo" placeholder="Estado" list="estado" 
			style="width: 88px; "  title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</span>
	</div>
	<div>
		<input type="checkbox" name="hecho_victimizante" value="Secuestro" >Secuestro----------------------------------------</input>
		<span>
			<input type="text" value="" name="sec_Ano" id="foo" placeholder="Año del hecho" list="año" 
			style="width: 120px; " title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="" name="sec_Declarado" id="foo" placeholder="¿Declaró?" list="declaro" 
			style="width: 88px; "  title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="" name="sec_Lugardeclarado" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" 
			style="width: 135px; "  title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="" name="sec_Estadodeclaracion" id="foo" placeholder="Estado" list="estado" 
			style="width: 88px; "  title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</span>
	</div>
	<div>
		<input type="checkbox" name="hecho_victimizante" value="Lesionespersonales" >Lesiones personales o Psicologicas------</input>
		<span>
			<input type="text" value="" name="les_Ano" id="foo" placeholder="Año del hecho" list="año" 
			style="width: 120px; " title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="" name="les_Declarado" id="foo" placeholder="¿Declaró?" list="declaro" 
			style="width: 88px; "  title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="" name="les_Lugardeclarado" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" 
			style="width: 135px; "  title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="" name="les_Estadodeclaracion" id="foo" placeholder="Estado" list="estado" 
			style="width: 88px; "  title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</span>
	</div>
	<div>
		<input type="checkbox" name="hecho_victimizante" value="Tortura" >Tortura--------------------------------------------</input>
		<span>
			<input type="text" value="" name="tor_Ano" id="foo" placeholder="Año del hecho" list="año" 
			style="width: 120px; " title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="" name="tor_Declarado" id="foo" placeholder="¿Declaró?" list="declaro" 
			style="width: 88px; "  title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="" name="tor_Lugardeclarado" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" 
			style="width: 135px; "  title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="" name="tor_Estadodeclaracion" id="foo" placeholder="Estado" list="estado" 
			style="width: 88px; "  title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</span>
	</div>
	<div>
		<input type="checkbox" name="hecho_victimizante" value="Delitoslibertad" >Delitos contra la libertad e integridad Sexual</input>
		<span>
			<input type="text" value="" name="des_Ano" id="foo" placeholder="Año del hecho" list="año" 
			style="width: 120px; " title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="" name="des_Declarado" id="foo" placeholder="¿Declaró?" list="declaro" 
			style="width: 88px; "  title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="" name="des_Lugardeclarado" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" 
			style="width: 135px; "  title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="" name="des_Estadodeclaracion" id="foo" placeholder="Estado" list="estado" 
			style="width: 88px; "  title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</span>
	</div>
	<div>
		<input type="checkbox" name="hecho_victimizante" value="Reclutamiento" >Reclutamiento ilegal de menores-----------</input>
		<span>
			<input type="text" value="" name="rei_Ano" id="foo" placeholder="Año del hecho" list="año" 
			style="width: 120px; " title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="" name="rei_Declarado" id="foo" placeholder="¿Declaró?" list="declaro" 
			style="width: 88px; "  title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="" name="rei_Lugardeclarado" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" 
			style="width: 135px; "  title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="" name="rei_Estadodeclaracion" id="foo" placeholder="Estado" list="estado" 
			style="width: 88px; "  title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</span>
	</div>
	<div>
		<input type="checkbox" name="hecho_victimizante" value="Desplazamientof" >Desplazamiento forzado ---------------------</input>
		<span>
			<input type="text" value="" name="dplz_Ano" id="foo" placeholder="Año del hecho" list="año" 
			style="width: 120px; " title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="" name="dplz_Declarado" id="foo" placeholder="¿Declaró?" list="declaro" 
			style="width: 88px; "  title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="" name="dplz_Lugardeclarado" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" 
			style="width: 135px; "  title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="" name="dplz_Estadodeclaracion" id="foo" placeholder="Estado" list="estado" 
			style="width: 88px; "  title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</span>
	</div>
	<div>
		<input type="checkbox" name="hecho_victimizante" value="Minas" >Minas antipersonales---------------------------</input>
		<span>
			<input type="text" value="" name="min_Ano" id="foo" placeholder="Año del hecho" list="año" 
			style="width: 120px; " title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="" name="min_Declarado" id="foo" placeholder="¿Declaró?" list="declaro" 
			style="width: 88px; "  title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="" name="min_Lugardeclarado" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" 
			style="width: 135px; "  title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="" name="min_Estadodeclaracion" id="foo" placeholder="Estado" list="estado" 
			style="width: 88px; "  title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</span>
	</div>
	<div>
		<input type="checkbox" name="hecho_victimizante" value="Abandono" >Abandono Forzado o despojo de tierras--</input>
		<span>
			<input type="text" value="" name="aba_Ano" id="foo" placeholder="Año del hecho" list="año" 
			style="width: 120px; " title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="" name="aba_Declarado" id="foo" placeholder="¿Declaró?" list="declaro" 
			style="width: 88px; "  title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="" name="aba_Lugardeclarado" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" 
			style="width: 135px; "  title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="" name="aba_Estadodeclaracion" id="foo" placeholder="Estado" list="estado" 
			style="width: 88px; "  title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</span>
	</div>
	<div>
		<input type="checkbox" name="hecho_victimizante" value="Masacre" >Masacre.------------------------------------------</input>
		<span>
			<input type="text" value="" name="mas_Ano" id="foo" placeholder="Año del hecho" list="año" 
			style="width: 120px; " title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="" name="mas_Declarado" id="foo" placeholder="¿Declaró?" list="declaro" 
			style="width: 88px; "  title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="" name="mas_Lugardeclarado" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" 
			style="width: 135px; "  title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="" name="mas_Estadodeclaracion" id="foo" placeholder="Estado" list="estado" 
			style="width: 88px; "  title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</span>
	</div>
	<div>
		<input type="checkbox" name="hecho_victimizante" value="Perdidabienes" >Perdida de Bienes.------------------------------</input>
		<span>
			<input type="text" value="" name="per_Ano" id="foo" placeholder="Año del hecho" list="año" 
			style="width: 120px; " title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="" name="per_Declarado" id="foo" placeholder="¿Declaró?" list="declaro" 
			style="width: 88px; "  title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="" name="per_Lugardeclarado" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" 
			style="width: 135px; "  title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="" name="per_Estadodeclaracion" id="foo" placeholder="Estado" list="estado" 
			style="width: 88px; "  title="Por favor selecciona un Sexo!"onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</span>
	</div>
</div>
<div class="mc-field-group" id="id_" >
	<h3>????</h3>
	<div>
	</div>
	<div>
	</div>
	<div>
	</div>
</div>
