<datalist id="tipodedocumentos">
  <option value="Cedula de Ciudadania"/>
  <option value="Registro Civil"/>
  <option value="Tarjeta de Identidad"/> 
</datalist> 
<datalist id="Sexos">
	<option value="Masculino"/>
	<option value="Femenino"/> 
</datalist> 
<datalist id="LGBTI">
	<option value="Heterosexual"/>
	<option value="Homosexual"/>
	<option value="Travesti"/>
	<option value="TransSexual"/>
	<option value="Bisexual"/>
</datalist> 
<datalist id="LibretaMilitar">
	<option value="Si"/>
	<option value="No"/> 
</datalist> 
<datalist id="JefeHogar">
	<option value="Si"/> 
	<option value="No"/> 
</datalist> 
<datalist id="Vinculo">
	<option value="Esposo(a)"/>
	<option value="Compañero(a)"/>
	<option value="Hijo(a)"/>
	<option value="tio(a)"/>	
	<option value="Sobrino(a)"/>
</datalist> 
<datalist id="SISBEN">
	<option value="Si"/>
	<option value="No"/> 
</datalist> 
<datalist id="Afilidado">
	<option value="Si"/>
	<option value="No"/> 
</datalist> 
<datalist id="Salud">
	<option value="Contributivo"/>
	<option value="Subsidiado"/> 
</datalist> 
<datalist id="Discapacidad">
	<option value="Ninguna"/>
	<option value="Motora"/>
	<option value="Congnitiva"/>
	<option value="Auditiva"/>	
	<option value="Visual"/>
</datalist> 
<datalist id="OrigenDis">
	<option value="Antes   del Hecho Victimizante"/>
	<option value="Durante del Hecho Victimizante"/>
	<option value="Despues del Hecho Victimizante"/>	
</datalist> 
<datalist id="Estudio">
	<option value="Si"/> 
	<option value="No"/> 
</datalist> 
<datalist id="nivelEstudio">
	<option value="Ninguno"/> 
	<option value="Preescolar"/>
	<option value="Primaria"/>
	<option value="Primaria incompleta"/>
	<option value="Secundaria"/>
	<option value="Secundaria incompleta"/>
	<option value="Técnico"/>
	<option value="Técnico inconpleto"/>
	<option value="Tecnológico"/>
	<option value="Tecnológico inconpleto"/>
	<option value="Universitario"/>
	<option value="Universitario inconpleto"/>	
	<option value="Posgrado"/>	
</datalist> 
<datalist id="Leer">
	<option value="Si"/> 
	<option value="No"/> 
</datalist> 
<datalist id="Escribir">
	<option value="Si"/> 
	<option value="No"/> 
</datalist> 
<datalist id="Capacitacion">
	<option value="Si"/> 
	<option value="No"/> 
</datalist> 
<datalist id="Area">
	<option value="Agricultura"/> 
	<option value="Construcción"/>
	<option value="Manofactura"/>
	<option value="Minería"/>
	<option value="Transporte"/>
	<option value="Servicios"/>
	<option value="Ventas"/>
	<option value="Turismo"/> 
	<option value="Ganadería"/>
	<option value="Otros"/> 										
</datalist> 
<datalist id="EntidadC">
	<option value="SENA"/> 
	<option value="ONG"/>
	<option value="Cámara de Comercio"/>
	<option value="Municipio"/>
	<option value="Departamento"/>
	<option value="Otra"/>
</datalist> 
<datalist id="trabajo">
	<option value="Si"/> 
	<option value="No"/> 
</datalist> 
<datalist id="AreaTrabajo">
	<option value="Agricultura"/> 
	<option value="Construcción"/>
	<option value="Manofactura"/>
	<option value="Minería"/>
	<option value="Transporte"/>
	<option value="Servicios"/>
	<option value="Ventas"/>
	<option value="Turismo"/> 
	<option value="Ganadería"/>
	<option value="Otros"/> 										
</datalist> 
<datalist id="TipoTrabajo">
	<option value="Contrato indefinido"/> 
	<option value="Contrato con termino definido"/>
	<option value="Trabajo Informal"/>
	<option value="Contrato de Prestación de servicios"/>	
</datalist> 
<datalist id="grupoetnico">
	<option value="Ninguno"/> 
	<option value="Afrocolombiano"/> 
	<option value="Indígena"/>
	<option value="Raizal(San Andrés)"/>
	<option value="Gitano (ROM)"/>
</datalist> 
<datalist id="año">
	<option value="2014"/>
	<option value="2013"/> 
	<option value="2012"/>
	<option value="2011"/>
	<option value="2010"/>
	<option value="2009"/>
	<option value="2008"/>
	<option value="2007"/>
	<option value="2006"/>
	<option value="2005"/>
	<option value="2004"/>
	<option value="2003"/>
	<option value="2002"/>
	<option value="2001"/>
	<option value="2000"/>
	<option value="1999"/>
	<option value="1998"/>
	<option value="1997"/>
	<option value="1996"/>
	<option value="1995"/>
	<option value="1994"/>
	<option value="1993"/>
	<option value="1992"/>
	<option value="1991"/>
	<option value="1990"/>
	<option value="1989"/>
	<option value="1988"/>
	<option value="1987"/>
	<option value="1986"/>
	<option value="1985"/>
</datalist> 
<datalist id="declaro">
	<option value="Si"/>
	<option value="No"/>
</datalist> 
<datalist id="Lugardeclaro">
	<option value="Personería"/>
	<option value="Defensoría"/>
	<option value="Procuraduría"/>
	<option value="Fiscalia"/>
	<option value="UAV"/>
</datalist> 
<datalist id="estado">
	<option value="incluido"/>
	<option value="Excluido"/>
</datalist>
<datalist id="Fiscalia">
	<option value="Si"/>
	<option value="No"/>
</datalist> 				
<datalist id="TipoDesplazamiento">
	<option value="Masivo"/>
	<option value="Individual"/>
</datalist> 
<datalist id="retorno">
	<option value="Si"/>
	<option value="No"/>
</datalist> 
<datalist id="DRetorno">
	<option value="Si"/>
	<option value="No"/>
</datalist> 
<datalist id="TipoRetorno">
	<option value="Individual"/>
	<option value="Masivo"/>
</datalist> 
<datalist id="QuienRetorno">
	<option value="Si"/>
	<option value="No"/>
</datalist> 
<datalist id="RetornoAcompañado">
	<option value="Si"/>
	<option value="No"/>
</datalist> 
<datalist id="PlanRetorno">
	<option value="Si"/>
	<option value="No"/>
</datalist> 
<datalist id="Reubicarse">
	<option value="Si"/>
	<option value="No"/>
</datalist> 
<datalist id="Razon">
	<option value="Se siente Discriminado"/>
	<option value="La ciudad es Insegura"/>
	<option value="No hay oprtunidades de trabajo"/>
	<option value="Prefiere el lugar donde vivía antes"/>
	<option value="No ha recibido ayuda estatal"/>
	<option value="Motivo Familiar"/>
</datalist> 
<datalist id="Separacion">
	<option value="Si"/>
	<option value="No"/>
</datalist> 
<datalist id="Unificar">
	<option value="Si"/>
	<option value="No"/>
</datalist> 
<datalist id="Ayuda">
	<option value="Si"/>
	<option value="No"/>
</datalist> 
<datalist id="Rayuda">
	<option value="Si"/>
	<option value="No"/>
</datalist> 
<datalist id="Refugio">
	<option value="Si"/>
	<option value="No"/>
</datalist> 
<datalist id="Ayuda2">
	<option value="Si"/>
	<option value="No"/>
</datalist> 
<datalist id="Organizacion">
	<option value="Entidad del Gobierno"/>
	<option value="ANCUR"/>
	<option value="ONG"/>
	<option value="Iglesias"/>
	<option value="Otros"/>
</datalist> 

<div class="mc-field-group" id="id_InformacionPersonal" >
	<div>
		<input type="text" value="<% if(datavictima){ %><%=datavictima.Tipodocumento %><% } %>" name="Tipodocumento" class="" id="id_tipodocumento" placeholder="Tipo de Documento (*)" list="tipodedocumentos"  
		  required title="Por favor ingresa un tipo de documento!"
		  onkeypress='return event.charCode > 0 && event.charCode < 0' autofocus />

		
		<input type="text" value="<% if(datavictima){ %><%=datavictima.Numerodocumento %><% } %>" name="Numerodocumento" class="" id="id_Numerodocumento" placeholder="Numero de Documento (*)" 
		 required title="Por favor ingresa un numero de documento!"
		onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
	</div>
	<div>
		<input type="text" value="<% if(datavictima){ %><%=datavictima.Nombres %><% } %>" name="Nombres" class="textInput " id="id_Nombres" placeholder="Nombres(*)" 
		 onkeypress='return event.charCode >= 59 && event.charCode <= 122'
		 required/>

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Apellidos %><% } %>" name="Apellidos" class="textInput " id="id_Appelidos" placeholder="Apellidos(*)"
		 onkeypress='return event.charCode >= 59 && event.charCode <= 122'
		style=" " required/>

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Sexo %><% } %>" name="Sexo" class="" id="id_Sexo" placeholder="Sexo(*)" list="Sexos" 
		style="width: 100px;" required title="Por favor selecciona un Sexo!"
		onkeypress='return event.charCode > 0 && event.charCode < 0' onChange='habilitarLibretaMilitar();' /> 

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Orientacionsexual%><% } %>" name="Orientacionsexual"  id="id_Orientacionsexual" placeholder="Orientación Sexual" list="LGBTI" 
		 title="Por favor Seleccione una orientacion sexual!"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>
	</div>
	<div>
		<input type="text" value="<% if(datavictima){ %><%=datavictima.Libretamilitar%><% } %>" name="Libretamilitar" class="" id="id_Libretamilitar" placeholder="Libreta Militar" list="LibretaMilitar" 
		   title="Tiene libreta Militar?"
		  onkeypress='return event.charCode > 0 && event.charCode < 0'/>

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Jefehogar%><% } %>" name="Jefehogar" class="" id="id_Jefehogar" placeholder="Usted es jefe del Hogar ?" list="JefeHogar" 
		  title="jefe del hogar o Cabeza de Famlia"
		  onkeypress='return event.charCode > 0 && event.charCode < 0'onChange='habilitarJefeHogar();'/>

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Vinculo%><% } %>" name="Vinculo" class="" id="id_Vinculo" placeholder="Vinculo con el  jefe del Hogar ?" list="Vinculo" 
		  title="Cual es su parentesco con el jefe del hogar!"
		  onkeypress='return event.charCode > 0 && event.charCode < 0'/>
	</div>
	<!-- fecha de nacimiento -->
	<div>
		<input type="text" value="<% if(datavictima){ %><%=datavictima.Barrio%><% } %>" name="Barrio" class="textInput " id="Barrio" placeholder="Barrio" />

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Direccion%><% } %>" name="Direccion" class="" id="id_direccion" placeholder="Direccion"
		 title="Digite Direccion actual de residencia!"//>

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Telefono%><% } %>" name="Telefono" class="" id="id_telefono" placeholder="Numero de Telefono"
		 title="Por favor ingresa un numero de telefono!"
		onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
	</div>	
</div>
<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
<div class="mc-field-group" id="id_InformacionSalud" >
	<h3>Salud</h3>
	<div>		
		<input type="text" value="<% if(datavictima){ %><%=datavictima.SISBEN%><% } %>" name="SISBEN" id="id_" placeholder="SISBEN(*)" list="SISBEN"
		 required title="SISBEN!" onkeypress='return event.charCode > 0 && event.charCode < 0'/>

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Afiliado%><% } %>" name="Afiliado" id="id_" placeholder="Está Afiliado a Salud?" list="Afilidado" 
		 title="Esta afiliado a Salud!" onkeypress='return event.charCode > 0 && event.charCode < 0'/>

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Regimen%><% } %>" name="Regimen" id="id_" placeholder="Regimen de salud?" list="Salud" 
		  title="Subsidiado por el gobierno O contribuido por la persona.!"	onkeypress='return event.charCode > 0 && event.charCode < 0'/>
	</div>

	<div>
		<input type="text" value="<% if(datavictima){ %><%=datavictima.Discapacidad%><% } %>" name="Discapacidad" id="id_Discapacidad" placeholder="Discapacidad" list="Discapacidad" 
		 title="Posee usted algun tipo de Discapacidad!" onkeypress='return event.charCode > 0 && event.charCode < 0' onChange='habilitarDiscapacidad();'/>

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Origendis%><% } %>" name="Origendis" id="id_OrigenDis" placeholder="Orígen de la discapacidad" list="OrigenDis" 
		 title="Cuando ocurrio la Incapacidad!"	onkeypress='return event.charCode > 0 && event.charCode < 0'/>
	</div>
</div>		
<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
<div class="mc-field-group" id="id_Educacion" >
	<h3>Educación</h3>
	<div>
		<input type="text" value="<% if(datavictima){ %><%=datavictima.Estudio%><% } %>" name="Estudio" id="id_Estudio" placeholder="Estudia Actualmente?" list="Estudio" 
		style="width: 200px; " title="Estudia actualmente?!"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>

		<input type="text" value="<% if(datavictima){ %><%=datavictima.NivelEstudio%><% } %>" name="NivelEstudio" id="id_NivelEstudios" placeholder="Nivel de Estudios" list="nivelEstudio" 
		style="width: 200px; " title="Que nivel alcanzó!"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Leer%><% } %>" name="Leer" id="" placeholder="Sabe Leer?" list="Leer" 
		style="width: 200px; "  title="Sabe leer!"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Escribir%><% } %>" name="Escribir" id="" placeholder="Sabe Escribir?" list="Escribir" 
		style="width: 200px; " title="Sabe escribir?!"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>
	</div>
	<div>
		<input type="text" value="<% if(datavictima){ %><%=datavictima.Capacitacion%><% } %>" name="Capacitacion" id="id_capacitacion" placeholder="Ha recibido Cursos de Capacitación?" list="Capacitacion" 
		style="width: 250px; " title="Ha sido capacitado por algun ente gubernamental?"
		onkeypress='return event.charCode > 0 && event.charCode < 0'onChange='habilitarCapacitacion();'/>

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Area%><% } %>" name="Area" id="id_AreaC" placeholder="En que Área?" list="Area" 
		style="width: 200px; " title="en que Área fue capacitado?"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Entidadc%><% } %>" name="Entidadc" class="EntidadC" id="id_entidaC" placeholder="Que entidad lo Capacitó?" list="EntidadC"
		title="Que entidad lo capacitó?"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>
	</div>
</div>
<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
<div class="mc-field-group" id="id_InformacionLaboral" >
	<h3>Información Laboral</h3>
	<div>
		<input type="text" value="<% if(datavictima){ %><%=datavictima.Trabajo%><% } %>" name="Trabajo" id="id_Labora" placeholder="Labora Actualmente?" list="trabajo" 
		style="width: 200px; "  title="trabaja Actualmente?"
		onkeypress='return event.charCode > 0 && event.charCode < 0'onChange='habilitarTrabajo();'/>

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Areatrabajo%><% } %>" name="Areatrabajo" id="id_AreaT" placeholder="En que Área?" list="AreaTrabajo" 
		style="width: 200px; " title="Area de trabajo"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Tipotrabajo%><% } %>" name="Tipotrabajo" id="id_TipoT" placeholder="Tipo de Vinculación Laboral" list="TipoTrabajo" 
		title="Que tipo de contrato tiene ?"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>
	</div>
</div>
<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
<div class="mc-field-group" id="id_GrupoEtnico" >
	<h3>Grupo Étnico</h3>
	<div>
		<input type="text" value="<% if(datavictima){ %><%=datavictima.GrupoEtnico%><% } %>" name="grupoetnico"  id="" placeholder="Grupo Etnico(*)" list="grupoetnico" 
		style="width: 150px; " title="Pertenece algun Grupo Etnico?" required title="Grupo etnico!"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>
	</div>
</div>
<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
<div class="mc-field-group" id="id_HechosVictimizantes" >
	<h3>Hechos Victimizantes</h3>
	<div>
		<input type="checkbox" name="hecho_victimizante" value="Homicidio" id="id_Homicidio"<% if(datavictima){ if(datavictima.hom_Ano != "") { %> <%="checked"%><%} } %> onChange='habilitarHomicidio();' >Homicidio-----------------------------------------</input>
		<span>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.hom_Ano%><% } %>" name="hom_Ano" id="id_hom_Ano" placeholder="Año del hecho" list="año" disabled
			style="width: 120px; " title="Año en que Ocurrio el hecho Victimizante!" onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.hom_Declarado%><% } %>" name="hom_Declarado" id="id_hom_Declarado" placeholder="¿Declaró?" list="declaro" disabled
			style="width: 88px; "  title="Declaró el hecho?"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.hom_Lugardeclarado%><% } %>" name="hom_Lugardeclarado" id="id_hom_Lugardeclarado" placeholder="¿Donde Declaró?" list="Lugardeclaro" disabled
			style="width: 135px; " title="Donde declaró?"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.hom_Estadodeclaracion%><% } %>" name="hom_Estadodeclaracion" id="id_hom_Estadodeclaracion" placeholder="Estado" list="estado" disabled
			style="width: 88px; "  title="En que estado se encuentra su declaración?"onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</span>
	</div>
	<div>
		<input type="checkbox" name="hecho_victimizante" value="Desaparicion" id="id_Desaparicion" <% if(datavictima){ if(datavictima.des_Ano != "") { %> <%="checked"%><%} } %> onChange='habilitarDesaparicion();'>Desaparición Forzada ------------------------</input>
		<span>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.des_Ano%><% } %>" name="desa_Ano" id="des_Ano" placeholder="Año del hecho" list="año" disabled
			style="width: 120px; " title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.des_Declarado%><% } %>" name="desa_Declarado" id="des_Declarado" placeholder="¿Declaró?" list="declaro" disabled
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.des_Lugardeclarado%><% } %>" name="desa_Lugardeclarado"  id="des_Lugardeclarado" placeholder="¿Donde Declaró?" list="Lugardeclaro"disabled
			style="width: 135px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.des_Estadodeclaracion%><% } %>" name="desa_Estadodeclaracion" id="des_Estadodeclaracion" placeholder="Estado" list="estado" disabled
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</span>
	</div>
	<div>
		<input type="checkbox" name="hecho_victimizante" value="Secuestro" id="id_Secuestro"<% if(datavictima){ if(datavictima.sec_Ano != "") { %> <%="checked"%><%} } %> onChange='habilitarSecuestro();'>Secuestro----------------------------------------</input>
		<span>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.sec_Ano%><% } %>" name="sec_Ano" id="sec_Ano" placeholder="Año del hecho" list="año" disabled
			style="width: 120px; " title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.sec_Declarado%><% } %>" name="sec_Declarado" id="sec_Declarado" placeholder="¿Declaró?" list="declaro" disabled
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.sec_Lugardeclarado%><% } %>" name="sec_Lugardeclarado" id="sec_Lugardeclarado" placeholder="¿Donde Declaró?" list="Lugardeclaro" disabled
			style="width: 135px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.sec_Estadodeclaracion%><% } %>" name="sec_Estadodeclaracion" id="sec_Estadodeclaracion" placeholder="Estado" list="estado" disabled
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</span>
	</div>
	<div>
		<input type="checkbox" name="hecho_victimizante" value="Lesionespersonales" id="id_Lesiones"<% if(datavictima){ if(datavictima.les_Ano != "") { %> <%="checked"%><%} } %> onChange='habilitarLesiones();'>Lesiones personales o Psicologicas ------</input>
		<span>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.les_Ano%><% } %>" name="les_Ano" id="les_Ano" placeholder="Año del hecho" list="año" disabled
			style="width: 120px; " title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.les_Declarado%><% } %>" name="les_Declarado" id="les_Declarado" placeholder="¿Declaró?" list="declaro" disabled
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.les_Lugardeclarado%><% } %>" name="les_Lugardeclarado" id="les_Lugardeclarado" placeholder="¿Donde Declaró?" list="Lugardeclaro" disabled
			style="width: 135px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.les_Estadodeclaracion%><% } %>" name="les_Estadodeclaracion" id="les_Estadodeclaracion" placeholder="Estado" list="estado" disabled
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</span>
	</div>
	<div>
		<input type="checkbox" name="hecho_victimizante" value="Tortura" id="id_Tortura"<% if(datavictima){ if(datavictima.tor_Ano != "") { %> <%="checked"%><%} } %> onChange='habilitarTortura();'>Tortura--------------------------------------------</input>
		<span>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.tor_Ano%><% } %>" name="tor_Ano" id="tor_Ano" placeholder="Año del hecho" list="año" disabled
			style="width: 120px; " title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.tor_Declarado%><% } %>" name="tor_Declarado" id="tor_Declarado" placeholder="¿Declaró?" list="declaro" disabled
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.tor_Lugardeclarado%><% } %>" name="tor_Lugardeclarado" id="tor_Lugardeclarado" placeholder="¿Donde Declaró?" list="Lugardeclaro" disabled
			style="width: 135px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.tor_Estadodeclaracion%><% } %>" name="tor_Estadodeclaracion" id="tor_Estadodeclaracion" placeholder="Estado" list="estado" disabled
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</span>
	</div>
	<div>
		<input type="checkbox" name="hecho_victimizante" value="Delitoslibertad" id="id_DelitosLibertad"<% if(datavictima){ if(datavictima.desx_Ano != "") { %> <%="checked"%><%} } %> onChange='habilitarDelitosSex();'>Delitos contra la integridad Sexual---------</input>
		<span>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.desx_Ano%><% } %>" name="desx_Ano" id="desx_Ano" placeholder="Año del hecho" list="año" disabled
			style="width: 120px; " title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.desx_Declarado%><% } %>" name="desx_Declarado" id="desx_Declarado" placeholder="¿Declaró?" list="declaro" disabled
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.desx_Lugardeclarado%><% } %>" name="desx_Lugardeclarado" id="desx_Lugardeclarado" placeholder="¿Donde Declaró?" list="Lugardeclaro" disabled
			style="width: 135px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.desx_Estadodeclaracion%><% } %>" name="desx_Estadodeclaracion" id="desx_Estadodeclaracion" placeholder="Estado" list="estado" disabled
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</span>
	</div>
	<div>
		<input type="checkbox" name="hecho_victimizante" value="Reclutamiento" id="id_Reclutamiento"<% if(datavictima){ if(datavictima.rei_Ano != "") { %> <%="checked"%><%} } %> onChange='habilitarReclutamiento();'>Reclutamiento ilegal de menores ----------</input>
		<span>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.rei_Ano%><% } %>" name="rei_Ano" id="rei_Ano" placeholder="Año del hecho" list="año" disabled
			style="width: 120px; " title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.rei_Declarado%><% } %>" name="rei_Declarado" id="rei_Declarado" placeholder="¿Declaró?" list="declaro" disabled
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.rei_Lugardeclarado%><% } %>" name="rei_Lugardeclarado" id="rei_Lugardeclarado" placeholder="¿Donde Declaró?" list="Lugardeclaro" disabled
			style="width: 135px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.rei_Estadodeclaracion%><% } %>" name="rei_Estadodeclaracion" id="rei_Estadodeclaracion" placeholder="Estado" list="estado" disabled
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</span>
	</div>
	<div>
		<input type="checkbox" name="hecho_victimizante" value="Desplazamientof" id="id_Desplazamientof"<% if(datavictima){ if(datavictima.dplz_Ano != "") { %> <%="checked"%><%} } %> onChange='habilitarDesplazamiento();'>Desplazamiento forzado ---------------------</input>
		<span>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.dplz_Ano%><% } %>" name="dplz_Ano" id="dplz_Ano" placeholder="Año del hecho" list="año" disabled
			style="width: 120px; " title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.dplz_Declarado%><% } %>" name="dplz_Declarado" id="dplz_Declarado" placeholder="¿Declaró?" list="declaro" disabled
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.dplz_Lugardeclarado%><% } %>" name="dplz_Lugardeclarado" id="dplz_Lugardeclarado" placeholder="¿Donde Declaró?" list="Lugardeclaro" disabled
			style="width: 135px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.dplz_Estadodeclaracion%><% } %>" name="dplz_Estadodeclaracion" id="dplz_Estadodeclaracion" placeholder="Estado" list="estado" disabled
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</span>
	</div>
	<div>
		<input type="checkbox" name="hecho_victimizante" value="Minas" id="id_Minas" <% if(datavictima){ if(datavictima.min_Ano != "") { %> <%="checked"%><%} } %> onChange='habilitarMinas();'>Minas antipersonales--------------------------</input>
		<span>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.min_Ano%><% } %>" name="min_Ano" id="min_Ano" placeholder="Año del hecho" list="año" disabled
			style="width: 120px; " title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.min_Declarado%><% } %>" name="min_Declarado" id="min_Declarado" placeholder="¿Declaró?" list="declaro" disabled
			
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.min_Lugardeclarado%><% } %>" name="min_Lugardeclarado" id="min_Lugardeclarado" placeholder="¿Donde Declaró?" list="Lugardeclaro" disabled
			style="width: 135px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.min_Estadodeclaracion%><% } %>" name="min_Estadodeclaracion" id="min_Estadodeclaracion" placeholder="Estado" list="estado" disabled
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</span>
	</div>
	<div>
		<input type="checkbox" name="hecho_victimizante" value="Abandono" id="id_Abandono"<% if(datavictima){ if(datavictima.aba_Ano != "") { %> <%="checked"%><%} } %> onChange='habilitarAbandono();'>Abandono Forzado o despojo de tierras -</input>
		<span>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.aba_Ano%><% } %>" name="aba_Ano" id="aba_Ano" placeholder="Año del hecho" list="año" disabled
			style="width: 120px; " title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.aba_Declarado%><% } %>" name="aba_Declarado" id="aba_Declarado" placeholder="¿Declaró?" list="declaro" disabled
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.aba_Lugardeclarado%><% } %>" name="aba_Lugardeclarado" id="aba_Lugardeclarado" placeholder="¿Donde Declaró?" list="Lugardeclaro" disabled
			style="width: 135px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.aba_Estadodeclaracion%><% } %>" name="aba_Estadodeclaracion" id="aba_Estadodeclaracion" placeholder="Estado" list="estado" disabled
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</span>
	</div>
	<div>
		<input type="checkbox" name="hecho_victimizante" value="Masacre" id="id_Masacre" <% if(datavictima){ if(datavictima.mas_Ano != "") { %> <%="checked"%><%} } %> onChange='habilitarMasacre();'>Masacre.-----------------------------------------</input>
		<span>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.mas_Ano%><% } %>" name="mas_Ano" id="mas_Ano" placeholder="Año del hecho" list="año" disabled
			style="width: 120px; " title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.mas_Declarado%><% } %>" name="mas_Declarado" id="mas_Declarado" placeholder="¿Declaró?" list="declaro" disabled
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.mas_Lugardeclarado%><% } %>" name="mas_Lugardeclarado" id="mas_Lugardeclarado" placeholder="¿Donde Declaró?" list="Lugardeclaro" disabled
			style="width: 135px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.mas_Estadodeclaracion%><% } %>" name="mas_Estadodeclaracion" id="mas_Estadodeclaracion" placeholder="Estado" list="estado" disabled
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</span>
	</div>
	<div>
		<input type="checkbox" name="hecho_victimizante" value="Perdidabienes" id="id_PerdidaBienes" <% if(datavictima){ if(datavictima.per_Ano != "") { %> <%="checked"%><%} } %> onChange='habilitarPerdidaBienes();'>Perdida de Bienes.-----------------------------</input>
		<span>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.per_Ano%><% } %>" name="per_Ano" id="per_Ano" placeholder="Año del hecho" list="año" disabled
			style="width: 120px; " title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.per_Declarado%><% } %>" name="per_Declarado" id="per_Declarado" placeholder="¿Declaró?" list="declaro" disabled
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.per_Lugardeclarado%><% } %>" name="per_Lugardeclarado" id="per_Lugardeclarado" placeholder="¿Donde Declaró?" list="Lugardeclaro" disabled
			style="width: 135px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.per_Estadodeclaracion%><% } %>" name="per_Estadodeclaracion" id="per_Estadodeclaracion" placeholder="Estado" list="estado" disabled
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</span>
	</div>
</div>
<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
<div class="mc-field-group" id="id_Desplazamiento" >
	<h3>Desplazamiento</h3>
	<div>
		<input type="text" value="<% if(datavictima){ %><%=datavictima.TipoDesplazamiento%><% } %>" name="TipoDesplazamiento" id="id_tipoDesplazamiento" placeholder="Tipo de Desplazamiento" list="TipoDesplazamiento" disabled
		style="width: 200px; "  title="Masivo cuando son Más de 10 personas E individual si es menor a 10 " title="Tipo de desplzamiento!"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>
	</div>
	<div>
		<br>
		<h5>Causas a las que atribuye el Desplazamiento</h5>
		<input type="checkbox" name=Causasdeldesplazamiento <% if(datavictima){ if(datavictima.causaConfrontacion === "Si") { %> <%="checked"%><%} } %> id="Confrontacion" value="Confrontacion">Confrontación Armada <br></br> 
		<input type="checkbox" name=Causasdeldesplazamiento <% if(datavictima){ if(datavictima.causaAmenazaDirecta === "Si") { %> <%="checked"%><%} } %> id="AmenazaD"value="Amenaza Directa">Amenaza Directa <br></br>
		<input type="checkbox" name=Causasdeldesplazamiento <% if(datavictima){ if(datavictima.causaAmenazeIndirecta === "Si") { %> <%="checked"%><%} } %> id="AmenazaI"value="Amenaza indirecta">Amenaza indirecta<br></br>
		<input type="checkbox" name=Causasdeldesplazamiento <% if(datavictima){ if(datavictima.causaReclutamiento === "Si") { %> <%="checked"%><%} } %> id ="ReclutamientoMenores"value="Reclutamiento de menores">Reclutamiento de menores<br></br>					
		<input type="checkbox" name=Causasdeldesplazamiento <% if(datavictima){ if(datavictima.causaCamposMinados === "Si") { %> <%="checked"%><%} } %> id="CamposMin"value="Campos minados">Campos Minados<br></br>
		<input type="checkbox" name=Causasdeldesplazamiento <% if(datavictima){ if(datavictima.causaAsesinatoFamiliar === "Si") { %> <%="checked"%><%} } %> id="Asesinato"value="Asesinato de Familiar">Asesinato de Familiar<br></br>
		<input type="checkbox" name=Causasdeldesplazamiento <% if(datavictima){ if(datavictima.causaViolenciaGeneral === "Si") { %> <%="checked"%><%} } %> id="ViolenciaG"value="Violencia Generalizada">Violencia Generalizada.<br></br>
		<input type="checkbox" name=Causasdeldesplazamiento <% if(datavictima){ if(datavictima.causaOtra === "Si") { %> <%="checked"%><%} } %> id="otra"value="Otra">Otra<br></br>
		<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
	</div>
	<div>
		<h5>Retorno</h5>
		<div>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.Retorno%><% } %>" name="Retorno"  id="id_retorno" placeholder="Usted Retorno al Lugar de donde se dezplazó?" list="retorno" disabled
			style="width: 350px; "  title="Retorno al Lugar de donde se dezplazó?" 
			onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.DeseaRetornar%><% } %>" name="DeseaRetornar"  id="id_deseoR" placeholder="Desea Retornar?" list="DRetorno" disabled
			title="Desea Retornar? "
			onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.TipoRetorno%><% } %>" name="TipoRetorno"  id="id_tipoRetor" placeholder="Tipo de Retorno?" list="TipoRetorno" disabled
			title="Que Tipo de Retorno tuvo?"
			onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</div>
		<div>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.QuienRetorno%><% } %>" name="QuienRetorno"  id="id_RetornotodalaFamilia" placeholder="Retorno Toda la Familia?" list="QuienRetorno" disabled
			style="width: 350px; "  title="Retorno Toda la Familia? "
			onkeypress='return event.charCode > 0 && event.charCode < 0'/>
				
			<input type="text" value="<% if(datavictima){ %><%=datavictima.RetornoAcompanado%><% } %>" name="RetornoAcompanado"  id="id_RetornoAcomp" placeholder="Su Retorno fue acompañado?" list="RetornoAcompañado" disabled
			title="Su Retorno fue acompañado por alguna organización? "
			onkeypress='return event.charCode > 0 && event.charCode < 0'/>
				
			<input type="text" value="<% if(datavictima){ %><%=datavictima.PlanRetorno%><% } %>" name="PlanRetorno"  id="id_planRetorno" placeholder="Se formuló un plan de Retorno?" list="PlanRetorno" disabled
			title="Se formuló un plan de Retorno?"
			onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</div>
		<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
	</div>
	<div>
		<h5>Reubicación</h5>
		<div>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.Reubicarse%><% } %>" name="Reubicarse"  id="id_deseaReubicarse" placeholder="El hogar desea Reubicarse?" list="Reubicarse" disabled
			title="Desea que se reubique su hogar?"
			onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.Razon%><% } %>" name="Razon"  id="id_Razon" placeholder="Razón por la cual desea Reubicarse?" list="Razon" disabled
			style="width: 280px; "  title="Porque razon desea la reubicación??"
			onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</div>
		<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
	</div>
	<div>
		<h5>Reunificación Familiar</h5>
		<div>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.Separacion%><% } %>" name="Separacion"  id="id_separacionFamiliar" placeholder="Cuando se desplazó la Familia se separó?" list="Separacion" disabled
			style="width: 350px; " title="La familia se separó al momento del despazamiento? "
			onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.Unificacion%><% } %>" name="Unificacion"  id="id_unificacion" placeholder="Se volvió a Unificar?" list="Unificar" disabled
			style="width: 154px; " title="Se volvio a unificar? "
			onkeypress='return event.charCode > 0 && event.charCode < 0'/>
				
			<input type="text" value="<% if(datavictima){ %><%=datavictima.AyudaEstatal%><% } %>" name="AyudaEstatal"  id="id_ayudaEstatal" placeholder="Solicito ayuda Estatal para la Reunificación?" list="Ayuda" disabled
			style="width: 311px; "  title="Pidió ayuda Estatal para reunificar su familia? "
			onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</div>
		<div>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.RecibioAyuda%><% } %>" name="RecibioAyuda"  id="id_obtuvoAyuda" placeholder="Recibio la ayuda Solicitada?" list="Rayuda" disabled
			title="Obtuvo la ayuda solicitada?"
			onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</div>
		<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
	</div>
	<div>
		<h5>Refugio</h5>
		<div>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.Refugio%><% } %>" name="Refugio"  id="id_Refugio" placeholder="Ha solicitado Refugio?" list="Refugio" disabled
			title="Solicito Refugio en algun país diferente a su pais natal?"
			onkeypress='return event.charCode > 0 && event.charCode < 0'/>

		</div>
		<div>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.Pais%><% } %>" name="Pais" class="required textInput rounded" id="pais" placeholder="En que país?"  onkeypress='return event.charCode >= 59 && event.charCode <= 122'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.AnoRefugio%><% } %>" name="AnoRefugio" class="required Sexo" id="id_anoRefugio" placeholder="Año" list="año" disabled
			style="width: 120px; " title="Año en que solicitó el Refugio!"
			onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.RecibioAyudaRefugio%><% } %>" name="RecibioAyudaRefugio"  id="id_recibioAyudaparaRefugio" placeholder="Recibio Ayuda?" list="Ayuda2" disabled
			style="width: 150px; "  title="Recibio ayuda para la solicitud de su refugio?"
			onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.Organizacion%><% } %>" name="Organizacion"  id="id_Organizacion" placeholder="Que organización le Entrego la ayuda?" list="Organizacion" disabled
			style="width: 300px; "  title="De cual organizacion obtuvo ayuda?"
			onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</div>
		<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
	</div>
</div>

<script>
	function habilitarLibretaMilitar()
	{
		if (document.getElementById("id_Sexo").value == "Femenino")
		{
			document.getElementById("id_Libretamilitar").disabled=true;
			document.getElementById("id_Libretamilitar").value = "";
			document.getElementById("id_Libretamilitar").style.background = "#C9CACB";
		}else {
			document.getElementById("id_Libretamilitar").disabled=false;
			document.getElementById("id_Libretamilitar").style.background = "";
		}
	}
	
	function habilitarJefeHogar()
	{
		if (document.getElementById("id_Jefehogar").value == "Si")
		{
			document.getElementById("id_Vinculo").disabled=true;
			document.getElementById("id_Vinculo").value = "";
			document.getElementById("id_Vinculo").style.background = "#C9CACB";
		}else {
			document.getElementById("id_Vinculo").disabled=false;
			document.getElementById("id_Vinculo").style.background = "";
		}
	}
	
	function habilitarDiscapacidad()
	{
		if (document.getElementById("id_Discapacidad").value == "Ninguna")
		{
			document.getElementById("id_OrigenDis").disabled=true;
			document.getElementById("id_OrigenDis").value = "";
			document.getElementById("id_OrigenDis").style.background = "#C9CACB";
		}else {
			document.getElementById("id_OrigenDis").disabled=false;
			document.getElementById("id_OrigenDis").style.background = "";
		}
	}
	
	
	function habilitarCapacitacion()
	{
		if (document.getElementById("id_capacitacion").value == "No")
		{
			document.getElementById("id_AreaC").disabled=true;
			document.getElementById("id_entidaC").disabled=true;
			
			document.getElementById("id_AreaC").value = "";
			document.getElementById("id_entidaC").value = "";
			
			document.getElementById("id_AreaC").style.background = "#C9CACB";
			document.getElementById("id_entidaC").style.background = "#C9CACB";
		}else {
			document.getElementById("id_AreaC").disabled=false;
			document.getElementById("id_entidaC").disabled=false;
			
			document.getElementById("id_AreaC").style.background = "";
			document.getElementById("id_entidaC").style.background = "";
		}
	}
	
	function habilitarTrabajo()
	{
		if (document.getElementById("id_Labora").value == "No")
		{
			document.getElementById("id_AreaT").disabled=true;
			document.getElementById("id_TipoT").disabled=true;
			
			document.getElementById("id_AreaT").value = "";
			document.getElementById("id_TipoT").value = "";
			
			document.getElementById("id_AreaT").style.background = "#C9CACB";
			document.getElementById("id_TipoT").style.background = "#C9CACB";
		}else {
			document.getElementById("id_AreaT").disabled=false;
			document.getElementById("id_TipoT").disabled=false;
			
			document.getElementById("id_AreaT").style.background = "";
			document.getElementById("id_TipoT").style.background = "";
		}
	}
	
	function habilitarHomicidio()
	{
		if (document.getElementById("id_Homicidio").checked  == true)
		{
			document.getElementById("id_hom_Ano").disabled=false;
			document.getElementById("id_hom_Declarado").disabled=false;
			document.getElementById("id_hom_Lugardeclarado").disabled=false;
			document.getElementById("id_hom_Estadodeclaracion").disabled=false;	

			document.getElementById("id_hom_Ano").style.background = "";
			document.getElementById("id_hom_Declarado").style.background = "";
			document.getElementById("id_hom_Lugardeclarado").style.background = "";
			document.getElementById("id_hom_Estadodeclaracion").style.background = "";
		}
		else
		{
			document.getElementById("id_hom_Ano").disabled=true;
			document.getElementById("id_hom_Declarado").disabled=true;
			document.getElementById("id_hom_Lugardeclarado").disabled=true;
			document.getElementById("id_hom_Estadodeclaracion").disabled=true;	
			
			document.getElementById("id_hom_Ano").style.background = "#C9CACB";
			document.getElementById("id_hom_Declarado").style.background = "#C9CACB";
			document.getElementById("id_hom_Lugardeclarado").style.background = "#C9CACB";
			document.getElementById("id_hom_Estadodeclaracion").style.background = "#C9CACB";
			
			document.getElementById("id_hom_Ano").value = "";
			document.getElementById("id_hom_Declarado").value = "";
			document.getElementById("id_hom_Lugardeclarado").value = "";
			document.getElementById("id_hom_Estadodeclaracion").value = "";

		}
	}
	
	function habilitarDesaparicion()
	{
		if (document.getElementById("id_Desaparicion").checked  == true)
		{
			document.getElementById("des_Ano").disabled=false;
			document.getElementById("des_Declarado").disabled=false;
			document.getElementById("des_Lugardeclarado").disabled=false;
			document.getElementById("des_Estadodeclaracion").disabled=false;	

			document.getElementById("des_Ano").style.background = "";
			document.getElementById("des_Declarado").style.background = "";
			document.getElementById("des_Lugardeclarado").style.background = "";
			document.getElementById("des_Estadodeclaracion").style.background = "";
		}
		else
		{
			document.getElementById("des_Ano").disabled=true;
			document.getElementById("des_Declarado").disabled=true;
			document.getElementById("des_Lugardeclarado").disabled=true;
			document.getElementById("des_Estadodeclaracion").disabled=true;	
			
			document.getElementById("des_Ano").style.background = "#C9CACB";
			document.getElementById("des_Declarado").style.background = "#C9CACB";
			document.getElementById("des_Lugardeclarado").style.background = "#C9CACB";
			document.getElementById("des_Estadodeclaracion").style.background = "#C9CACB";
			
			document.getElementById("des_Ano").value = "";
			document.getElementById("des_Declarado").value = "";
			document.getElementById("des_Lugardeclarado").value = "";
			document.getElementById("des_Estadodeclaracion").value = "";
			
		}
	}

	function habilitarSecuestro()
	{
		if (document.getElementById("id_Secuestro").checked  == true)
		{
			document.getElementById("sec_Ano").disabled=false;
			document.getElementById("sec_Declarado").disabled=false;
			document.getElementById("sec_Lugardeclarado").disabled=false;
			document.getElementById("sec_Estadodeclaracion").disabled=false;	

			document.getElementById("sec_Ano").style.background = "";
			document.getElementById("sec_Declarado").style.background = "";
			document.getElementById("sec_Lugardeclarado").style.background = "";
			document.getElementById("sec_Estadodeclaracion").style.background = "";

		}
		else
		{
			document.getElementById("sec_Ano").disabled=true;
			document.getElementById("sec_Declarado").disabled=true;
			document.getElementById("sec_Lugardeclarado").disabled=true;
			document.getElementById("sec_Estadodeclaracion").disabled=true;

			document.getElementById("sec_Ano").style.background = "#C9CACB";
			document.getElementById("sec_Declarado").style.background = "#C9CACB";
			document.getElementById("sec_Lugardeclarado").style.background = "#C9CACB";
			document.getElementById("sec_Estadodeclaracion").style.background = "#C9CACB";

			document.getElementById("sec_Ano").value = "";
			document.getElementById("sec_Declarado").value = "";
			document.getElementById("sec_Lugardeclarado").value = "";
			document.getElementById("sec_Estadodeclaracion").value = "";

		}
	}
				function habilitarLesiones()
	{
		if (document.getElementById("id_Lesiones").checked  == true)
		{
			document.getElementById("les_Ano").disabled=false;
			document.getElementById("les_Declarado").disabled=false;
			document.getElementById("les_Lugardeclarado").disabled=false;
			document.getElementById("les_Estadodeclaracion").disabled=false;	

			document.getElementById("les_Ano").style.background = "";
			document.getElementById("les_Declarado").style.background = "";
			document.getElementById("les_Lugardeclarado").style.background = "";
			document.getElementById("les_Estadodeclaracion").style.background = "";

		}
		else
		{
			document.getElementById("les_Ano").disabled=true;
			document.getElementById("les_Declarado").disabled=true;
			document.getElementById("les_Lugardeclarado").disabled=true;
			document.getElementById("les_Estadodeclaracion").disabled=true;

			document.getElementById("les_Ano").style.background = "#C9CACB";
			document.getElementById("les_Declarado").style.background = "#C9CACB";
			document.getElementById("les_Lugardeclarado").style.background = "#C9CACB";
			document.getElementById("les_Estadodeclaracion").style.background = "#C9CACB";

			document.getElementById("les_Ano").value = "";
			document.getElementById("les_Declarado").value = "";
			document.getElementById("les_Lugardeclarado").value = "";
			document.getElementById("les_Estadodeclaracion").value = "";


		}
	}
	
		function habilitarTortura()
	{
		if (document.getElementById("id_Tortura").checked  == true)
		{
			document.getElementById("tor_Ano").disabled=false;
			document.getElementById("tor_Declarado").disabled=false;
			document.getElementById("tor_Lugardeclarado").disabled=false;
			document.getElementById("tor_Estadodeclaracion").disabled=false;	

			document.getElementById("tor_Ano").style.background = "";
			document.getElementById("tor_Declarado").style.background = "";
			document.getElementById("tor_Lugardeclarado").style.background = "";
			document.getElementById("tor_Estadodeclaracion").style.background = "";

		}
		else
		{
			document.getElementById("tor_Ano").disabled=true;
			document.getElementById("tor_Declarado").disabled=true;
			document.getElementById("tor_Lugardeclarado").disabled=true;
			document.getElementById("tor_Estadodeclaracion").disabled=true;

			document.getElementById("tor_Ano").style.background = "#C9CACB";
			document.getElementById("tor_Declarado").style.background = "#C9CACB";
			document.getElementById("tor_Lugardeclarado").style.background = "#C9CACB";
			document.getElementById("tor_Estadodeclaracion").style.background = "#C9CACB";

			document.getElementById("tor_Ano").value = "";
			document.getElementById("tor_Declarado").value = "";
			document.getElementById("tor_Lugardeclarado").value = "";
			document.getElementById("tor_Estadodeclaracion").value = "";

		}
	}

	function habilitarDelitosSex()
	{
		if (document.getElementById("id_DelitosLibertad").checked  == true)
		{
			document.getElementById("desx_Ano").disabled=false;
			document.getElementById("desx_Declarado").disabled=false;
			document.getElementById("desx_Lugardeclarado").disabled=false;
			document.getElementById("desx_Estadodeclaracion").disabled=false;	

			document.getElementById("desx_Ano").style.background = "";
			document.getElementById("desx_Declarado").style.background = "";
			document.getElementById("desx_Lugardeclarado").style.background = "";
			document.getElementById("desx_Estadodeclaracion").style.background = "";

		}
		else
		{
			document.getElementById("desx_Ano").disabled=true;
			document.getElementById("desx_Declarado").disabled=true;
			document.getElementById("desx_Lugardeclarado").disabled=true;
			document.getElementById("desx_Estadodeclaracion").disabled=true;

			document.getElementById("desx_Ano").style.background = "#C9CACB";
			document.getElementById("desx_Declarado").style.background = "#C9CACB";
			document.getElementById("desx_Lugardeclarado").style.background = "#C9CACB";
			document.getElementById("desx_Estadodeclaracion").style.background = "#C9CACB";

			document.getElementById("desx_Ano").value = "";
			document.getElementById("desx_Declarado").value = "";
			document.getElementById("desx_Lugardeclarado").value = "";
			document.getElementById("desx_Estadodeclaracion").value = "";

		}
	}
		
			function habilitarReclutamiento()
	{
		if (document.getElementById("id_Reclutamiento").checked  == true)
		{
			document.getElementById("rei_Ano").disabled=false;
			document.getElementById("rei_Declarado").disabled=false;
			document.getElementById("rei_Lugardeclarado").disabled=false;
			document.getElementById("rei_Estadodeclaracion").disabled=false;	

			document.getElementById("rei_Ano").style.background = "";
			document.getElementById("rei_Declarado").style.background = "";
			document.getElementById("rei_Lugardeclarado").style.background = "";
			document.getElementById("rei_Estadodeclaracion").style.background = "";
		}
		else
		{
			document.getElementById("rei_Ano").disabled=true;
			document.getElementById("rei_Declarado").disabled=true;
			document.getElementById("rei_Lugardeclarado").disabled=true;
			document.getElementById("rei_Estadodeclaracion").disabled=true;

			document.getElementById("rei_Ano").style.background = "#C9CACB";
			document.getElementById("rei_Declarado").style.background = "#C9CACB";
			document.getElementById("rei_Lugardeclarado").style.background = "#C9CACB";
			document.getElementById("rei_Estadodeclaracion").style.background = "#C9CACB";

			document.getElementById("rei_Ano").value = "";
			document.getElementById("rei_Declarado").value = "";
			document.getElementById("rei_Lugardeclarado").value = "";
			document.getElementById("rei_Estadodeclaracion").value = "";

		}
	}
	
	function habilitarDesplazamiento()
	{
		if (document.getElementById("id_Desplazamientof").checked  == true)
		{
			document.getElementById("dplz_Ano").disabled=false;
			document.getElementById("dplz_Declarado").disabled=false;
			document.getElementById("dplz_Lugardeclarado").disabled=false;
			document.getElementById("dplz_Estadodeclaracion").disabled=false;
			document.getElementById("id_tipoDesplazamiento").disabled=false;
			document.getElementById("Confrontacion").disabled=false;
			document.getElementById("AmenazaD").disabled=false;
			document.getElementById("AmenazaI").disabled=false;
			document.getElementById("ReclutamientoMenores").disabled=false;
			document.getElementById("CamposMin").disabled=false;
			document.getElementById("Asesinato").disabled=false;
			document.getElementById("ViolenciaG").disabled=false;
			document.getElementById("otra").disabled=false;
			document.getElementById("id_retorno").disabled=false;
			document.getElementById("id_deseoR").disabled=false;
			document.getElementById("id_tipoRetor").disabled=false;
			document.getElementById("id_RetornotodalaFamilia").disabled=false;
			document.getElementById("id_RetornoAcomp").disabled=false;
			document.getElementById("id_planRetorno").disabled=false;
			document.getElementById("id_deseaReubicarse").disabled=false;
			document.getElementById("id_Razon").disabled=false;
			document.getElementById("id_separacionFamiliar").disabled=false;
			document.getElementById("id_unificacion").disabled=false;
			document.getElementById("id_ayudaEstatal").disabled=false;
			document.getElementById("id_obtuvoAyuda").disabled=false;
			document.getElementById("id_Refugio").disabled=false;
			document.getElementById("pais").disabled=false;
			document.getElementById("id_anoRefugio").disabled=false;
			document.getElementById("id_recibioAyudaparaRefugio").disabled=false;
			document.getElementById("id_Organizacion").disabled=false;

			document.getElementById("dplz_Ano").style.background = "";
			document.getElementById("dplz_Declarado").style.background = "";
			document.getElementById("dplz_Lugardeclarado").style.background = "";
			document.getElementById("dplz_Estadodeclaracion").style.background = "";
			document.getElementById("id_tipoDesplazamiento").style.background = "";
			document.getElementById("Confrontacion").style.background = "";
			document.getElementById("AmenazaD").style.background = "";
			document.getElementById("AmenazaI").style.background = "";
			document.getElementById("ReclutamientoMenores").style.background = "";
			document.getElementById("CamposMin").style.background = "";
			document.getElementById("Asesinato").style.background = "";
			document.getElementById("ViolenciaG").style.background = "";
			document.getElementById("otra").style.background = "";
			document.getElementById("id_retorno").style.background = "";
			document.getElementById("id_deseoR").style.background = "";
			document.getElementById("id_tipoRetor").style.background = "";
			document.getElementById("id_RetornotodalaFamilia").style.background = "";
			document.getElementById("id_RetornoAcomp").style.background = "";
			document.getElementById("id_planRetorno").style.background = "";
			document.getElementById("id_deseaReubicarse").style.background = "";
			document.getElementById("id_Razon").style.background = "";
			document.getElementById("id_separacionFamiliar").style.background = "";
			document.getElementById("id_unificacion").style.background = "";
			document.getElementById("id_ayudaEstatal").style.background = "";
			document.getElementById("id_obtuvoAyuda").style.background = "";
			document.getElementById("id_Refugio").style.background = "";
			document.getElementById("pais").style.background = "";
			document.getElementById("id_anoRefugio").style.background = "";
			document.getElementById("id_recibioAyudaparaRefugio").style.background = "";
			document.getElementById("id_Organizacion").style.background = "";

		}
		else
		{
			document.getElementById("dplz_Ano").disabled=true;
			document.getElementById("dplz_Declarado").disabled=true;
			document.getElementById("dplz_Lugardeclarado").disabled=true;
			document.getElementById("dplz_Estadodeclaracion").disabled=true;	
			document.getElementById("id_tipoDesplazamiento").disabled=true;
			document.getElementById("Confrontacion").disabled=true;
			document.getElementById("AmenazaD").disabled=true;
			document.getElementById("AmenazaI").disabled=true;
			document.getElementById("ReclutamientoMenores").disabled=true;
			document.getElementById("CamposMin").disabled=true;
			document.getElementById("Asesinato").disabled=true;
			document.getElementById("ViolenciaG").disabled=true;
			document.getElementById("otra").disabled=true;
			document.getElementById("id_retorno").disabled=true;
			document.getElementById("id_deseoR").disabled=true;
			document.getElementById("id_tipoRetor").disabled=true;
			document.getElementById("id_RetornotodalaFamilia").disabled=true;
			document.getElementById("id_RetornoAcomp").disabled=true;
			document.getElementById("id_planRetorno").disabled=true;
			document.getElementById("id_deseaReubicarse").disabled=true;
			document.getElementById("id_Razon").disabled=true;
			document.getElementById("id_separacionFamiliar").disabled=true;
			document.getElementById("id_unificacion").disabled=true;
			document.getElementById("id_ayudaEstatal").disabled=true;
			document.getElementById("id_obtuvoAyuda").disabled=true;
			document.getElementById("id_Refugio").disabled=true;
			document.getElementById("pais").disabled=true;
			document.getElementById("id_anoRefugio").disabled=true;
			document.getElementById("id_recibioAyudaparaRefugio").disabled=true;
			document.getElementById("id_Organizacion").disabled=true;

			
			document.getElementById("dplz_Ano").style.background = "#C9CACB";
			document.getElementById("dplz_Declarado").style.background = "#C9CACB";
			document.getElementById("dplz_Lugardeclarado").style.background = "#C9CACB";
			document.getElementById("dplz_Estadodeclaracion").style.background = "#C9CACB";
			document.getElementById("id_tipoDesplazamiento").style.background = "#C9CACB";
			document.getElementById("Confrontacion").style.background = "#C9CACB";
			document.getElementById("AmenazaD").style.background = "#C9CACB";
			document.getElementById("AmenazaI").style.background = "#C9CACB";
			document.getElementById("ReclutamientoMenores").style.background = "#C9CACB";
			document.getElementById("CamposMin").style.background = "#C9CACB";
			document.getElementById("Asesinato").style.background = "#C9CACB";
			document.getElementById("ViolenciaG").style.background = "#C9CACB";
			document.getElementById("otra").style.background = "#C9CACB";
			document.getElementById("id_retorno").style.background = "#C9CACB";
			document.getElementById("id_deseoR").style.background = "#C9CACB";
			document.getElementById("id_tipoRetor").style.background = "#C9CACB";
			document.getElementById("id_RetornotodalaFamilia").style.background = "#C9CACB";
			document.getElementById("id_RetornoAcomp").style.background = "#C9CACB";
			document.getElementById("id_planRetorno").style.background = "#C9CACB";
			document.getElementById("id_deseaReubicarse").style.background = "#C9CACB";
			document.getElementById("id_Razon").style.background = "#C9CACB";
			document.getElementById("id_separacionFamiliar").style.background = "#C9CACB";
			document.getElementById("id_unificacion").style.background = "#C9CACB";
			document.getElementById("id_ayudaEstatal").style.background = "#C9CACB";
			document.getElementById("id_obtuvoAyuda").style.background = "#C9CACB";
			document.getElementById("id_Refugio").style.background = "#C9CACB";
			document.getElementById("pais").style.background = "#C9CACB";
			document.getElementById("id_anoRefugio").style.background = "#C9CACB";
			document.getElementById("id_recibioAyudaparaRefugio").style.background = "#C9CACB";
			document.getElementById("id_Organizacion").style.background = "#C9CACB";

			
			document.getElementById("dplz_Ano").value = "";
			document.getElementById("dplz_Declarado").value = "";
			document.getElementById("dplz_Lugardeclarado").value = "";
			document.getElementById("dplz_Estadodeclaracion").value = "";			
			document.getElementById("id_tipoDesplazamiento").value = "";
			document.getElementById("Confrontacion").value = "";
			document.getElementById("AmenazaD").value = "";
			document.getElementById("AmenazaI").value = "";
			document.getElementById("ReclutamientoMenores").value = "";
			document.getElementById("CamposMin").value = "";
			document.getElementById("Asesinato").value = "";
			document.getElementById("ViolenciaG").value = "";
			document.getElementById("otra").value = "";
			document.getElementById("id_retorno").value = "";
			document.getElementById("id_deseoR").value = "";
			document.getElementById("id_tipoRetor").value = "";
			document.getElementById("id_RetornotodalaFamilia").value = "";
			document.getElementById("id_RetornoAcomp").value = "";
			document.getElementById("id_planRetorno").value = "";
			document.getElementById("id_deseaReubicarse").value = "";
			document.getElementById("id_Razon").value = "";
			document.getElementById("id_separacionFamiliar").value = "";
			document.getElementById("id_unificacion").value = "";
			document.getElementById("id_ayudaEstatal").value = "";
			document.getElementById("id_obtuvoAyuda").value = "";
			document.getElementById("id_Refugio").value = "";
			document.getElementById("pais").value = "";
			document.getElementById("id_anoRefugio").value = "";
			document.getElementById("id_recibioAyudaparaRefugio").value = "";
			document.getElementById("id_Organizacion").value = "";


		}
	}

		function habilitarMinas()
	{
		if (document.getElementById("id_Minas").checked  == true)
		{
			document.getElementById("min_Ano").disabled=false;
			document.getElementById("min_Declarado").disabled=false;
			document.getElementById("min_Lugardeclarado").disabled=false;
			document.getElementById("min_Estadodeclaracion").disabled=false;	

			document.getElementById("min_Ano").style.background = "";
			document.getElementById("min_Declarado").style.background = "";
			document.getElementById("min_Lugardeclarado").style.background = "";
			document.getElementById("min_Estadodeclaracion").style.background = "";

		}
		else
		{
			document.getElementById("min_Ano").disabled=true;
			document.getElementById("min_Declarado").disabled=true;
			document.getElementById("min_Lugardeclarado").disabled=true;
			document.getElementById("min_Estadodeclaracion").disabled=true;

			document.getElementById("min_Ano").style.background = "#C9CACB";
			document.getElementById("min_Declarado").style.background = "#C9CACB";
			document.getElementById("min_Lugardeclarado").style.background = "#C9CACB";
			document.getElementById("min_Estadodeclaracion").style.background = "#C9CACB";

			document.getElementById("min_Ano").value = "";
			document.getElementById("min_Declarado").value = "";
			document.getElementById("min_Lugardeclarado").value = "";
			document.getElementById("min_Estadodeclaracion").value = "";

		}
	}
	
	function habilitarAbandono()
	{
		if (document.getElementById("id_Abandono").checked  == true)
		{
			document.getElementById("aba_Ano").disabled=false;
			document.getElementById("aba_Declarado").disabled=false;
			document.getElementById("aba_Lugardeclarado").disabled=false;
			document.getElementById("aba_Estadodeclaracion").disabled=false;	

			document.getElementById("aba_Ano").style.background = "";
			document.getElementById("aba_Declarado").style.background = "";
			document.getElementById("aba_Lugardeclarado").style.background = "";
			document.getElementById("aba_Estadodeclaracion").style.background = "";

		}
		else
		{
			document.getElementById("aba_Ano").disabled=true;
			document.getElementById("aba_Declarado").disabled=true;
			document.getElementById("aba_Lugardeclarado").disabled=true;
			document.getElementById("aba_Estadodeclaracion").disabled=true;

			document.getElementById("aba_Ano").style.background = "#C9CACB";
			document.getElementById("aba_Declarado").style.background = "#C9CACB";
			document.getElementById("aba_Lugardeclarado").style.background = "#C9CACB";
			document.getElementById("aba_Estadodeclaracion").style.background = "#C9CACB";

			document.getElementById("aba_Ano").value = "";
			document.getElementById("aba_Declarado").value = "";
			document.getElementById("aba_Lugardeclarado").value = "";
			document.getElementById("aba_Estadodeclaracion").value = "";

		}
	}
	
	function habilitarMasacre()
	{
		if (document.getElementById("id_Masacre").checked  == true)
		{
			document.getElementById("mas_Ano").disabled=false;
			document.getElementById("mas_Declarado").disabled=false;
			document.getElementById("mas_Lugardeclarado").disabled=false;
			document.getElementById("mas_Estadodeclaracion").disabled=false;	

			document.getElementById("mas_Ano").style.background = "";
			document.getElementById("mas_Declarado").style.background = "";
			document.getElementById("mas_Lugardeclarado").style.background = "";
			document.getElementById("mas_Estadodeclaracion").style.background = "";

		}
		else
		{
			document.getElementById("mas_Ano").disabled=true;
			document.getElementById("mas_Declarado").disabled=true;
			document.getElementById("mas_Lugardeclarado").disabled=true;
			document.getElementById("mas_Estadodeclaracion").disabled=true;

			document.getElementById("mas_Ano").style.background = "#C9CACB";
			document.getElementById("mas_Declarado").style.background = "#C9CACB";
			document.getElementById("mas_Lugardeclarado").style.background = "#C9CACB";
			document.getElementById("mas_Estadodeclaracion").style.background = "#C9CACB";

			document.getElementById("mas_Ano").value = "";
			document.getElementById("mas_Declarado").value = "";
			document.getElementById("mas_Lugardeclarado").value = "";
			document.getElementById("mas_Estadodeclaracion").value = "";

		}
	}
	
		function habilitarPerdidaBienes()
	{
		if (document.getElementById("id_PerdidaBienes").checked  == true)
		{
			document.getElementById("per_Ano").disabled=false;
			document.getElementById("per_Declarado").disabled=false;
			document.getElementById("per_Lugardeclarado").disabled=false;
			document.getElementById("per_Estadodeclaracion").disabled=false;	

			document.getElementById("per_Ano").style.background = "";
			document.getElementById("per_Declarado").style.background = "";
			document.getElementById("per_Lugardeclarado").style.background = "";
			document.getElementById("per_Estadodeclaracion").style.background = "";

		}
		else
		{
			document.getElementById("per_Ano").disabled=true;
			document.getElementById("per_Declarado").disabled=true;
			document.getElementById("per_Lugardeclarado").disabled=true;
			document.getElementById("per_Estadodeclaracion").disabled=true;

			document.getElementById("per_Ano").style.background = "#C9CACB";
			document.getElementById("per_Declarado").style.background = "#C9CACB";
			document.getElementById("per_Lugardeclarado").style.background = "#C9CACB";
			document.getElementById("per_Estadodeclaracion").style.background = "#C9CACB";

			document.getElementById("per_Ano").value = "";
			document.getElementById("per_Declarado").value = "";
			document.getElementById("per_Lugardeclarado").value = "";
			document.getElementById("per_Estadodeclaracion").value = "";

		}
	}
</script>
			
