<datalist id="tipodedocumentos">
  <option value="Cedula de Ciudadania"/>
  <option value="Registro Civil"/>
  <option value="Tarjeta de Identidad"/> 
</datalist> 
<datalist id="Sexos">
	<option value="Masculino"/>
	<option value="Femenino"/> 
</datalist> 
<datalist id="LGBTI">
	<option value="Heterosexual"/>
	<option value="Homosexual"/>
	<option value="Travesti"/>
	<option value="TransSexual"/>
	<option value="Bisexual"/>
</datalist> 
<datalist id="LibretaMilitar">
	<option value="Si"/>
	<option value="No"/> 
</datalist> 
<datalist id="JefeHogar">
	<option value="Si"/> 
	<option value="No"/> 
</datalist> 
<datalist id="Vinculo">
	<option value="Esposo(a)"/>
	<option value="Compañero(a)"/>
	<option value="Hijo(a)"/>
	<option value="tio(a)"/>	
	<option value="Sobrino(a)"/>
</datalist> 
<datalist id="SISBEN">
	<option value="Si"/>
	<option value="No"/> 
</datalist> 
<datalist id="Afilidado">
	<option value="Si"/>
	<option value="No"/> 
</datalist> 
<datalist id="Salud">
	<option value="Contributivo"/>
	<option value="Subsidiado"/> 
</datalist> 
<datalist id="Discapacidad">
	<option value="Ninguna"/>
	<option value="Motora"/>
	<option value="Congnitiva"/>
	<option value="Auditiva"/>	
	<option value="Visual"/>
</datalist> 
<datalist id="OrigenDis">
	<option value="Antes   del Hecho Victimizante"/>
	<option value="Durante del Hecho Victimizante"/>
	<option value="Despues del Hecho Victimizante"/>	
</datalist> 
<datalist id="Estudio">
	<option value="Si"/> 
	<option value="No"/> 
</datalist> 
<datalist id="nivelEstudio">
	<option value="Ninguno"/> 
	<option value="Preescolar"/>
	<option value="Primaria"/>
	<option value="Primaria incompleta"/>
	<option value="Secundaria"/>
	<option value="Secundaria incompleta"/>
	<option value="Técnico"/>
	<option value="Técnico inconpleto"/>
	<option value="Tecnológico"/>
	<option value="Tecnológico inconpleto"/>
	<option value="Universitario"/>
	<option value="Universitario inconpleto"/>	
	<option value="Posgrado"/>	
</datalist> 
<datalist id="Leer">
	<option value="Si"/> 
	<option value="No"/> 
</datalist> 
<datalist id="Escribir">
	<option value="Si"/> 
	<option value="No"/> 
</datalist> 
<datalist id="Capacitacion">
	<option value="Si"/> 
	<option value="No"/> 
</datalist> 
<datalist id="Area">
	<option value="Agricultura"/> 
	<option value="Construcción"/>
	<option value="Manofactura"/>
	<option value="Minería"/>
	<option value="Transporte"/>
	<option value="Servicios"/>
	<option value="Ventas"/>
	<option value="Turismo"/> 
	<option value="Ganadería"/>
	<option value="Otros"/> 										
</datalist> 
<datalist id="EntidadC">
	<option value="SENA"/> 
	<option value="ONG"/>
	<option value="Cámara de Comercio"/>
	<option value="Municipio"/>
	<option value="Departamento"/>
	<option value="Otra"/>
</datalist> 
<datalist id="trabajo">
	<option value="Si"/> 
	<option value="No"/> 
</datalist> 
<datalist id="AreaTrabajo">
	<option value="Agricultura"/> 
	<option value="Construcción"/>
	<option value="Manofactura"/>
	<option value="Minería"/>
	<option value="Transporte"/>
	<option value="Servicios"/>
	<option value="Ventas"/>
	<option value="Turismo"/> 
	<option value="Ganadería"/>
	<option value="Otros"/> 										
</datalist> 
<datalist id="TipoTrabajo">
	<option value="Contrato indefinido"/> 
	<option value="Contrato con termino definido"/>
	<option value="Trabajo Informal"/>
	<option value="Contrato de Prestación de servicios"/>	
</datalist> 
<datalist id="grupoetnico">
	<option value="Ninguno"/> 
	<option value="Afrocolombiano"/> 
	<option value="Indígena"/>
	<option value="Raizal(San Andrés)"/>
	<option value="Gitano (ROM)"/>
</datalist> 
<datalist id="año">
	<option value="2014"/>
	<option value="2013"/> 
	<option value="2012"/>
	<option value="2011"/>
	<option value="2010"/>
	<option value="2009"/>
	<option value="2008"/>
	<option value="2007"/>
	<option value="2006"/>
	<option value="2005"/>
	<option value="2004"/>
	<option value="2003"/>
	<option value="2002"/>
	<option value="2001"/>
	<option value="2000"/>
	<option value="1999"/>
	<option value="1998"/>
	<option value="1997"/>
	<option value="1996"/>
	<option value="1995"/>
	<option value="1994"/>
	<option value="1993"/>
	<option value="1992"/>
	<option value="1991"/>
	<option value="1990"/>
	<option value="1989"/>
	<option value="1988"/>
	<option value="1987"/>
	<option value="1986"/>
	<option value="1985"/>
</datalist> 
<datalist id="declaro">
	<option value="Si"/>
	<option value="No"/>
</datalist> 
<datalist id="Lugardeclaro">
	<option value="Personería"/>
	<option value="Defensoría"/>
	<option value="Procuraduría"/>
	<option value="Fiscalia"/>
	<option value="UAV"/>
</datalist> 
<datalist id="estado">
	<option value="incluido"/>
	<option value="Excluido"/>
</datalist>
<datalist id="Fiscalia">
	<option value="Si"/>
	<option value="No"/>
</datalist> 				
<datalist id="TipoDesplazamiento">
	<option value="Masivo"/>
	<option value="Individual"/>
</datalist> 
<datalist id="retorno">
	<option value="Si"/>
	<option value="No"/>
</datalist> 
<datalist id="DRetorno">
	<option value="Si"/>
	<option value="No"/>
</datalist> 
<datalist id="TipoRetorno">
	<option value="Individual"/>
	<option value="Masivo"/>
</datalist> 
<datalist id="QuienRetorno">
	<option value="Si"/>
	<option value="No"/>
</datalist> 
<datalist id="RetornoAcompañado">
	<option value="Si"/>
	<option value="No"/>
</datalist> 
<datalist id="PlanRetorno">
	<option value="Si"/>
	<option value="No"/>
</datalist> 
<datalist id="Reubicarse">
	<option value="Si"/>
	<option value="No"/>
</datalist> 
<datalist id="Razon">
	<option value="Se siente Discriminado"/>
	<option value="La ciudad es Insegura"/>
	<option value="No hay oprtunidades de trabajo"/>
	<option value="Prefiere el lugar donde vivía antes"/>
	<option value="No ha recibido ayuda estatal"/>
	<option value="Motivo Familiar"/>
</datalist> 
<datalist id="Separacion">
	<option value="Si"/>
	<option value="No"/>
</datalist> 
<datalist id="Unificar">
	<option value="Si"/>
	<option value="No"/>
</datalist> 
<datalist id="Ayuda">
	<option value="Si"/>
	<option value="No"/>
</datalist> 
<datalist id="Rayuda">
	<option value="Si"/>
	<option value="No"/>
</datalist> 
<datalist id="Refugio">
	<option value="Si"/>
	<option value="No"/>
</datalist> 
<datalist id="Ayuda2">
	<option value="Si"/>
	<option value="No"/>
</datalist> 
<datalist id="Organizacion">
	<option value="Entidad del Gobierno"/>
	<option value="ANCUR"/>
	<option value="ONG"/>
	<option value="Iglesias"/>
	<option value="Otros"/>
</datalist> 

<div class="mc-field-group" id="id_InformacionPersonal" >
	<div>
		<input type="text" value="<% if(datavictima){ %><%=datavictima.Tipodocumento %><% } %>" name="Tipodocumento" class="" id="id_tipodocumento" placeholder="Tipo de Documento (*)" list="tipodedocumentos"  
		  required title="Por favor ingresa un tipo de documento!"
		  onkeypress='return event.charCode > 0 && event.charCode < 0' autofocus />

		
		<input type="text" value="<% if(datavictima){ %><%=datavictima.Numerodocumento %><% } %>" name="Numerodocumento" class="" id="id_Numerodocumento" placeholder="Numero de Documento (*)" 
		 required title="Por favor ingresa un numero de documento!"
		onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
	</div>
	<div>
		<input type="text" value="<% if(datavictima){ %><%=datavictima.Nombres %><% } %>" name="Nombres" class="textInput " id="id_Nombres" placeholder="Nombres(*)"
		 required/>

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Apellidos %><% } %>" name="Apellidos" class="textInput " id="id_Appelidos" placeholder="Apellidos(*)"
		style=" " required/>

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Sexo %><% } %>" name="Sexo" class="" id="id_Sexo" placeholder="Sexo(*)" list="Sexos" 
		style="width: 100px;" required title="Por favor selecciona un Sexo!"
		onkeypress='return event.charCode > 0 && event.charCode < 0' onChange='habilitarLibretaMilitar();' /> 

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Orientacionsexual%><% } %>" name="Orientacionsexual"  id="id_Orientacionsexual" placeholder="Orientación Sexual" list="LGBTI" 
		 title="Por favor Seleccione una orientacion sexual!"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>
	</div>
	<div>
		<input type="text" value="<% if(datavictima){ %><%=datavictima.Libretamilitar%><% } %>" name="Libretamilitar" class="" id="id_Libretamilitar" placeholder="Libreta Militar" list="LibretaMilitar" 
		   title="Tiene libreta Militar?"
		  onkeypress='return event.charCode > 0 && event.charCode < 0'/>

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Jefehogar%><% } %>" name="Jefehogar" class="" id="id_Jefehogar" placeholder="Usted es jefe del Hogar ?" list="JefeHogar" 
		  title="jefe del hogar o Cabeza de Famlia"
		  onkeypress='return event.charCode > 0 && event.charCode < 0'/>

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Vinculo%><% } %>" name="Vinculo" class="" id="id_Vinculo" placeholder="Vinculo con el  jefe del Hogar ?" list="Vinculo" 
		  title="Cual es su parentesco con el jefe del hogar!"
		  onkeypress='return event.charCode > 0 && event.charCode < 0'/>
	</div>
	<!-- fecha de nacimiento -->
	<div>
		<input type="text" value="<% if(datavictima){ %><%=datavictima.Barrio%><% } %>" name="Barrio" class="textInput " id="Barrio" placeholder="Barrio" />

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Direccion%><% } %>" name="Direccion" class="" id="id_direccion" placeholder="Direccion"
		 title="Digite Direccion actual de residencia!"//>

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Telefono%><% } %>" name="Telefono" class="" id="id_telefono" placeholder="Numero de Telefono"
		 title="Por favor ingresa un numero de telefono!"
		onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
	</div>	
</div>
<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
<div class="mc-field-group" id="id_InformacionSalud" >
	<h3>Salud</h3>
	<div>		
		<input type="text" value="<% if(datavictima){ %><%=datavictima.SISBEN%><% } %>" name="SISBEN" id="id_" placeholder="SISBEN(*)" list="SISBEN"
		 required title="SISBEN!" onkeypress='return event.charCode > 0 && event.charCode < 0'/>

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Afiliado%><% } %>" name="Afiliado" id="id_" placeholder="Está Afiliado a Salud?" list="Afilidado" 
		 title="Esta afiliado a Salud!" onkeypress='return event.charCode > 0 && event.charCode < 0'/>

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Regimen%><% } %>" name="Regimen" id="id_" placeholder="Regimen de salud?" list="Salud" 
		  title="Subsidiado por el gobierno O contribuido por la persona.!"	onkeypress='return event.charCode > 0 && event.charCode < 0'/>
	</div>

	<div>
		<input type="text" value="<% if(datavictima){ %><%=datavictima.Discapacidad%><% } %>" name="Discapacidad" id="id_" placeholder="Discapacidad" list="Discapacidad" 
		 title="Posee usted algun tipo de Discapacidad!" onkeypress='return event.charCode > 0 && event.charCode < 0'/>

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Origendis%><% } %>" name="Origendis" id="id_" placeholder="Orígen de la discapacidad" list="OrigenDis" 
		 title="Cuando ocurrio la Incapacidad!"	onkeypress='return event.charCode > 0 && event.charCode < 0'/>
	</div>
</div>		
<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
<div class="mc-field-group" id="id_Educacion" >
	<h3>Educación</h3>
	<div>
		<input type="text" value="<% if(datavictima){ %><%=datavictima.Estudio%><% } %>" name="Estudio" id="" placeholder="Estudia Actualmente?" list="Estudio" 
		style="width: 200px; " title="Estudia actualmente?!"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>

		<input type="text" value="<% if(datavictima){ %><%=datavictima.NivelEstudio%><% } %>" name="NivelEstudio" id="" placeholder="Nivel de Estudios" list="nivelEstudio" 
		style="width: 200px; " title="Que nivel alcanzó!"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Leer%><% } %>" name="Leer" id="" placeholder="Sabe Leer?" list="Leer" 
		style="width: 200px; "  title="Sabe leer!"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Escribir%><% } %>" name="Escribir" id="" placeholder="Sabe Escribir?" list="Escribir" 
		style="width: 200px; " title="Sabe escribir?!"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>
	</div>
	<div>
		<input type="text" value="<% if(datavictima){ %><%=datavictima.Capacitacion%><% } %>" name="Capacitacion" id="" placeholder="Ha recibido Cursos de Capacitación?" list="Capacitacion" 
		style="width: 250px; " title="Ha sido capacitado por algun ente gubernamental?"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Area%><% } %>" name="Area" id="" placeholder="En que Área?" list="Area" 
		style="width: 200px; " title="en que Área fue capacitado?"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Entidadc%><% } %>" name="Entidadc" class="EntidadC" id="" placeholder="Que entidad lo Capacitó?" list="EntidadC"
		title="Que entidad lo capacitó?"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>
	</div>
</div>
<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
<div class="mc-field-group" id="id_InformacionLaboral" >
	<h3>Información Laboral</h3>
	<div>
		<input type="text" value="<% if(datavictima){ %><%=datavictima.Trabajo%><% } %>" name="Trabajo" id="" placeholder="Labora Actualmente?" list="trabajo" 
		style="width: 200px; "  title="trabaja Actualmente?"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Areatrabajo%><% } %>" name="Areatrabajo" id="" placeholder="En que Área?" list="AreaTrabajo" 
		style="width: 200px; " title="Area de trabajo"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>

		<input type="text" value="<% if(datavictima){ %><%=datavictima.Tipotrabajo%><% } %>" name="Tipotrabajo" id="" placeholder="Tipo de Vinculación Laboral" list="TipoTrabajo" 
		title="Que tipo de contrato tiene ?"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>
	</div>
</div>
<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
<div class="mc-field-group" id="id_GrupoEtnico" >
	<h3>Grupo Étnico</h3>
	<div>
		<input type="text" value="<% if(datavictima){ %><%=datavictima.GrupoEtnico%><% } %>" name="grupoetnico"  id="" placeholder="Grupo Etnico(*)" list="grupoetnico" 
		style="width: 150px; " title="Pertenece algun Grupo Etnico?" required title="Grupo etnico!"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>
	</div>
</div>
<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
<div class="mc-field-group" id="id_HechosVictimizantes" >
	<h3>Hechos Victimizantes</h3>
	<div>
		<input type="checkbox" name="hecho_victimizante" value="Homicidio" id="id_Homicidio"<% if(datavictima){ if(datavictima.hom_Ano != "") { %> <%="checked"%><%} } %> onChange='habilitarHomicidio();' >Homicidio-----------------------------------------</input>
		<span>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.hom_Ano%><% } %>" name="hom_Ano" id="id_hom_Ano" placeholder="Año del hecho" list="año" disabled
			style="width: 120px; " title="Año en que Ocurrio el hecho Victimizante!" onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.hom_Declarado%><% } %>" name="hom_Declarado" id="id_hom_Declarado" placeholder="¿Declaró?" list="declaro" disabled
			style="width: 88px; "  title="Declaró el hecho?"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.hom_Lugardeclarado%><% } %>" name="hom_Lugardeclarado" id="id_hom_Lugardeclarado" placeholder="¿Donde Declaró?" list="Lugardeclaro" disabled
			style="width: 135px; " title="Donde declaró?"onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.hom_Estadodeclaracion%><% } %>" name="hom_Estadodeclaracion" id="id_hom_Estadodeclaracion" placeholder="Estado" list="estado" disabled
			style="width: 88px; "  title="En que estado se encuentra su declaración?"onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</span>
	</div>
	<div>
		<input type="checkbox" name="hecho_victimizante" value="Desaparicion" <% if(datavictima){ if(datavictima.des_Ano != "") { %> <%="checked"%><%} } %> >Desaparición Forzada ------------------------</input>
		<span>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.des_Ano%><% } %>" name="des_Ano" id="foo" placeholder="Año del hecho" list="año" 
			style="width: 120px; " title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.des_Declarado%><% } %>" name="des_Declarado" id="foo" placeholder="¿Declaró?" list="declaro" 
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.des_Lugardeclarado%><% } %>" name="des_Lugardeclarado"  id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro"
			style="width: 135px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.des_Estadodeclaracion%><% } %>" name="des_Estadodeclaracion" id="foo" placeholder="Estado" list="estado" 
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</span>
	</div>
	<div>
		<input type="checkbox" name="hecho_victimizante" value="Secuestro" <% if(datavictima){ if(datavictima.sec_Ano != "") { %> <%="checked"%><%} } %> >Secuestro----------------------------------------</input>
		<span>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.sec_Ano%><% } %>" name="sec_Ano" id="foo" placeholder="Año del hecho" list="año" 
			style="width: 120px; " title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.sec_Declarado%><% } %>" name="sec_Declarado" id="foo" placeholder="¿Declaró?" list="declaro" 
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.sec_Lugardeclarado%><% } %>" name="sec_Lugardeclarado" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" 
			style="width: 135px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.sec_Estadodeclaracion%><% } %>" name="sec_Estadodeclaracion" id="foo" placeholder="Estado" list="estado" 
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</span>
	</div>
	<div>
		<input type="checkbox" name="hecho_victimizante" value="Lesionespersonales" <% if(datavictima){ if(datavictima.les_Ano != "") { %> <%="checked"%><%} } %> >Lesiones personales o Psicologicas ------</input>
		<span>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.les_Ano%><% } %>" name="les_Ano" id="foo" placeholder="Año del hecho" list="año" 
			style="width: 120px; " title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.les_Declarado%><% } %>" name="les_Declarado" id="foo" placeholder="¿Declaró?" list="declaro" 
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.les_Lugardeclarado%><% } %>" name="les_Lugardeclarado" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" 
			style="width: 135px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.les_Estadodeclaracion%><% } %>" name="les_Estadodeclaracion" id="foo" placeholder="Estado" list="estado" 
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</span>
	</div>
	<div>
		<input type="checkbox" name="hecho_victimizante" value="Tortura" <% if(datavictima){ if(datavictima.tor_Ano != "") { %> <%="checked"%><%} } %> >Tortura--------------------------------------------</input>
		<span>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.tor_Ano%><% } %>" name="tor_Ano" id="foo" placeholder="Año del hecho" list="año" 
			style="width: 120px; " title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.tor_Declarado%><% } %>" name="tor_Declarado" id="foo" placeholder="¿Declaró?" list="declaro" 
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.tor_Lugardeclarado%><% } %>" name="tor_Lugardeclarado" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" 
			style="width: 135px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.tor_Estadodeclaracion%><% } %>" name="tor_Estadodeclaracion" id="foo" placeholder="Estado" list="estado" 
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</span>
	</div>
	<div>
		<input type="checkbox" name="hecho_victimizante" value="Delitoslibertad" <% if(datavictima){ if(datavictima.desx_Ano != "") { %> <%="checked"%><%} } %> >Delitos contra la integridad Sexual---------</input>
		<span>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.desx_Ano%><% } %>" name="desx_Ano" id="foo" placeholder="Año del hecho" list="año" 
			style="width: 120px; " title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.desx_Declarado%><% } %>" name="desx_Declarado" id="foo" placeholder="¿Declaró?" list="declaro" 
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.desx_Lugardeclarado%><% } %>" name="desx_Lugardeclarado" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" 
			style="width: 135px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.desx_Estadodeclaracion%><% } %>" name="desx_Estadodeclaracion" id="foo" placeholder="Estado" list="estado" 
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</span>
	</div>
	<div>
		<input type="checkbox" name="hecho_victimizante" value="Reclutamiento" <% if(datavictima){ if(datavictima.rei_Ano != "") { %> <%="checked"%><%} } %> >Reclutamiento ilegal de menores ----------</input>
		<span>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.rei_Ano%><% } %>" name="rei_Ano" id="foo" placeholder="Año del hecho" list="año" 
			style="width: 120px; " title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.rei_Declarado%><% } %>" name="rei_Declarado" id="foo" placeholder="¿Declaró?" list="declaro" 
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.rei_Lugardeclarado%><% } %>" name="rei_Lugardeclarado" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" 
			style="width: 135px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.rei_Estadodeclaracion%><% } %>" name="rei_Estadodeclaracion" id="foo" placeholder="Estado" list="estado" 
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</span>
	</div>
	<div>
		<input type="checkbox" name="hecho_victimizante" value="Desplazamientof" <% if(datavictima){ if(datavictima.dplz_Ano != "") { %> <%="checked"%><%} } %> >Desplazamiento forzado ---------------------</input>
		<span>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.dplz_Ano%><% } %>" name="dplz_Ano" id="foo" placeholder="Año del hecho" list="año" 
			style="width: 120px; " title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.dplz_Declarado%><% } %>" name="dplz_Declarado" id="foo" placeholder="¿Declaró?" list="declaro" 
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.dplz_Lugardeclarado%><% } %>" name="dplz_Lugardeclarado" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" 
			style="width: 135px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.dplz_Estadodeclaracion%><% } %>" name="dplz_Estadodeclaracion" id="foo" placeholder="Estado" list="estado" 
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</span>
	</div>
	<div>
		<input type="checkbox" name="hecho_victimizante" value="Minas" <% if(datavictima){ if(datavictima.min_Ano != "") { %> <%="checked"%><%} } %> >Minas antipersonales--------------------------</input>
		<span>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.min_Ano%><% } %>" name="min_Ano" id="foo" placeholder="Año del hecho" list="año" 
			style="width: 120px; " title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.min_Declarado%><% } %>" name="min_Declarado" id="foo" placeholder="¿Declaró?" list="declaro" 
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.min_Lugardeclarado%><% } %>" name="min_Lugardeclarado" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" 
			style="width: 135px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.min_Estadodeclaracion%><% } %>" name="min_Estadodeclaracion" id="foo" placeholder="Estado" list="estado" 
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</span>
	</div>
	<div>
		<input type="checkbox" name="hecho_victimizante" value="Abandono" <% if(datavictima){ if(datavictima.aba_Ano != "") { %> <%="checked"%><%} } %> >Abandono Forzado o despojo de tierras -</input>
		<span>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.aba_Ano%><% } %>" name="aba_Ano" id="foo" placeholder="Año del hecho" list="año" 
			style="width: 120px; " title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.aba_Declarado%><% } %>" name="aba_Declarado" id="foo" placeholder="¿Declaró?" list="declaro" 
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.aba_Lugardeclarado%><% } %>" name="aba_Lugardeclarado" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" 
			style="width: 135px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.aba_Estadodeclaracion%><% } %>" name="aba_Estadodeclaracion" id="foo" placeholder="Estado" list="estado" 
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</span>
	</div>
	<div>
		<input type="checkbox" name="hecho_victimizante" value="Masacre" <% if(datavictima){ if(datavictima.mas_Ano != "") { %> <%="checked"%><%} } %> >Masacre.-----------------------------------------</input>
		<span>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.mas_Ano%><% } %>" name="mas_Ano" id="foo" placeholder="Año del hecho" list="año" 
			style="width: 120px; " title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.mas_Declarado%><% } %>" name="mas_Declarado" id="foo" placeholder="¿Declaró?" list="declaro" 
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.mas_Lugardeclarado%><% } %>" name="mas_Lugardeclarado" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" 
			style="width: 135px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.mas_Estadodeclaracion%><% } %>" name="mas_Estadodeclaracion" id="foo" placeholder="Estado" list="estado" 
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</span>
	</div>
	<div>
		<input type="checkbox" name="hecho_victimizante" value="Perdidabienes" <% if(datavictima){ if(datavictima.per_Ano != "") { %> <%="checked"%><%} } %> >Perdida de Bienes.-----------------------------</input>
		<span>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.per_Ano%><% } %>" name="per_Ano" id="foo" placeholder="Año del hecho" list="año" 
			style="width: 120px; " title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.per_Declarado%><% } %>" name="per_Declarado" id="foo" placeholder="¿Declaró?" list="declaro" 
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.per_Lugardeclarado%><% } %>" name="per_Lugardeclarado" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" 
			style="width: 135px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.per_Estadodeclaracion%><% } %>" name="per_Estadodeclaracion" id="foo" placeholder="Estado" list="estado" 
			style="width: 88px; "  title=""onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</span>
	</div>
</div>
<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
<div class="mc-field-group" id="id_Desplazamiento" >
	<h3>Desplazamiento</h3>
	<div>
		<input type="text" value="<% if(datavictima){ %><%=datavictima.TipoDesplazamiento%><% } %>" name="TipoDesplazamiento" id="" placeholder="Tipo de Desplazamiento" list="TipoDesplazamiento" 
		style="width: 200px; "  title="Masivo cuando son Más de 10 personas E individual si es menor a 10 " title="Tipo de desplzamiento!"
		onkeypress='return event.charCode > 0 && event.charCode < 0'/>
	</div>
	<div>
		<br>
		<h5>Causas a las que atribuye el Desplazamiento</h5>
		<input type="checkbox" name=Causasdeldesplazamiento <% if(datavictima){ if(datavictima.causaConfrontacion === "Si") { %> <%="checked"%><%} } %> value="Confrontacion">Confrontación Armada <br></br>
		<input type="checkbox" name=Causasdeldesplazamiento <% if(datavictima){ if(datavictima.causaAmenazaDirecta === "Si") { %> <%="checked"%><%} } %> value="Amenaza Directa">Amenaza Directa <br></br>
		<input type="checkbox" name=Causasdeldesplazamiento <% if(datavictima){ if(datavictima.causaAmenazeIndirecta === "Si") { %> <%="checked"%><%} } %> value="Amenaza indirecta">Amenaza indirecta<br></br>
		<input type="checkbox" name=Causasdeldesplazamiento <% if(datavictima){ if(datavictima.causaReclutamiento === "Si") { %> <%="checked"%><%} } %> value="Reclutamiento de menores">Reclutamiento de menores<br></br>					
		<input type="checkbox" name=Causasdeldesplazamiento <% if(datavictima){ if(datavictima.causaCamposMinados === "Si") { %> <%="checked"%><%} } %> value="Campos minados">Campos Minados<br></br>
		<input type="checkbox" name=Causasdeldesplazamiento <% if(datavictima){ if(datavictima.causaAsesinatoFamiliar === "Si") { %> <%="checked"%><%} } %> value="Asesinato de Familiar">Asesinato de Familiar<br></br>
		<input type="checkbox" name=Causasdeldesplazamiento <% if(datavictima){ if(datavictima.causaViolenciaGeneral === "Si") { %> <%="checked"%><%} } %> value="Violencia Generalizada">Violencia Generalizada.<br></br>
		<input type="checkbox" name=Causasdeldesplazamiento <% if(datavictima){ if(datavictima.causaOtra === "Si") { %> <%="checked"%><%} } %> value="Otra">Otra<br></br>
		<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
	</div>
	<div>
		<h5>Retorno</h5>
		<div>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.Retorno%><% } %>" name="Retorno"  id="" placeholder="Usted Retorno al Lugar de donde se dezplazó?" list="retorno" 
			style="width: 350px; "  title="Retorno al Lugar de donde se dezplazó?" 
			onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.DeseaRetornar%><% } %>" name="DeseaRetornar"  id="" placeholder="Desea Retornar?" list="DRetorno" 
			title="Desea Retornar? "
			onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.TipoRetorno%><% } %>" name="TipoRetorno"  id="" placeholder="Tipo de Retorno?" list="TipoRetorno" 
			title="Que Tipo de Retorno tuvo?"
			onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</div>
		<div>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.QuienRetorno%><% } %>" name="QuienRetorno"  id="" placeholder="Retorno Toda la Familia?" list="QuienRetorno" 
			style="width: 350px; "  title="Retorno Toda la Familia? "
			onkeypress='return event.charCode > 0 && event.charCode < 0'/>
				
			<input type="text" value="<% if(datavictima){ %><%=datavictima.RetornoAcompanado%><% } %>" name="RetornoAcompanado"  id="" placeholder="Su Retorno fue acompañado?" list="RetornoAcompañado" 
			title="Su Retorno fue acompañado por alguna organización? "
			onkeypress='return event.charCode > 0 && event.charCode < 0'/>
				
			<input type="text" value="<% if(datavictima){ %><%=datavictima.PlanRetorno%><% } %>" name="PlanRetorno"  id="" placeholder="Se formuló un plan de Retorno?" list="PlanRetorno" 
			title="Se formuló un plan de Retorno?"
			onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</div>
		<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
	</div>
	<div>
		<h5>Reubicación</h5>
		<div>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.Reubicarse%><% } %>" name="Reubicarse"  id="" placeholder="El hogar desea Reubicarse?" list="Reubicarse" 
			title="Desea que se reubique su hogar?"
			onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.Razon%><% } %>" name="Razon"  id="" placeholder="Razón por la cual desea Reubicarse?" list="Razon" 
			style="width: 280px; "  title="Porque razon desea la reubicación??"
			onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</div>
		<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
	</div>
	<div>
		<h5>Reunificación Familiar</h5>
		<div>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.Separacion%><% } %>" name="Separacion"  id="" placeholder="Cuando se desplazó la Familia se separó?" list="Separacion" 
			style="width: 350px; " title="La familia se separó al momento del despazamiento? "
			onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.Unificacion%><% } %>" name="Unificacion"  id="" placeholder="Se volvió a Unificar?" list="Unificar" 
			style="width: 154px; " title="Se volvio a unificar? "
			onkeypress='return event.charCode > 0 && event.charCode < 0'/>
				
			<input type="text" value="<% if(datavictima){ %><%=datavictima.AyudaEstatal%><% } %>" name="AyudaEstatal"  id="" placeholder="Solicito ayuda Estatal para la Reunificación?" list="Ayuda" 
			style="width: 311px; "  title="Pidió ayuda Estatal para reunificar su familia? "
			onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</div>
		<div>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.RecibioAyuda%><% } %>" name="RecibioAyuda"  id="" placeholder="Recibio la ayuda Solicitada?" list="Rayuda" 
			title="Obtuvo la ayuda solicitada?"
			onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</div>
		<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
	</div>
	<div>
		<h5>Refugio</h5>
		<div>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.Refugio%><% } %>" name="Refugio"  id="" placeholder="Ha solicitado Refugio?" list="Refugio" 
			title="Solicito Refugio en algun país diferente a su pais natal?"
			onkeypress='return event.charCode > 0 && event.charCode < 0'/>

		</div>
		<div>
			<input type="text" value="<% if(datavictima){ %><%=datavictima.Pais%><% } %>" name="Pais" class="required textInput rounded" id="pais" placeholder="En que país?" />

			<input type="text" value="<% if(datavictima){ %><%=datavictima.AnoRefugio%><% } %>" name="AnoRefugio" class="required Sexo" id="Sexo" placeholder="Año" list="año" 
			style="width: 120px; " title="Año en que solicitó el Refugio!"
			onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.RecibioAyudaRefugio%><% } %>" name="RecibioAyudaRefugio"  id="" placeholder="Recibio Ayuda?" list="Ayuda2" 
			style="width: 150px; "  title="Recibio ayuda para la solicitud de su refugio?"
			onkeypress='return event.charCode > 0 && event.charCode < 0'/>

			<input type="text" value="<% if(datavictima){ %><%=datavictima.Organizacion%><% } %>" name="Organizacion"  id="" placeholder="Que organización le Entrego la ayuda?" list="Organizacion" 
			style="width: 300px; "  title="De cual organizacion obtuvo ayuda?"
			onkeypress='return event.charCode > 0 && event.charCode < 0'/>
		</div>
		<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
	</div>
</div>

<script>
	function habilitarLibretaMilitar()
	{
		if (document.getElementById("id_Sexo").value == "Femenino")
		{
			document.getElementById("id_Libretamilitar").disabled=true;
			document.getElementById("id_Libretamilitar").value = "";
			document.getElementById("id_Libretamilitar").style.background = "#C9CACB";
		}else {
			document.getElementById("id_Libretamilitar").disabled=false;
			document.getElementById("id_Libretamilitar").style.background = "";
		}
	}
	
	function habilitarHomicidio()
	{
		if (document.getElementById("id_Homicidio").checked  == true)
		{
			document.getElementById("id_hom_Ano").disabled=false;
			document.getElementById("id_hom_Declarado").disabled=false;
			document.getElementById("id_hom_Lugardeclarado").disabled=false;
			document.getElementById("id_hom_Estadodeclaracion").disabled=false;	

			document.getElementById("id_hom_Ano").style.background = "";
			document.getElementById("id_hom_Declarado").style.background = "";
			document.getElementById("id_hom_Lugardeclarado").style.background = "";
			document.getElementById("id_hom_Estadodeclaracion").style.background = "";
		}
		else
		{
			document.getElementById("id_hom_Ano").disabled=true;
			document.getElementById("id_hom_Declarado").disabled=true;
			document.getElementById("id_hom_Lugardeclarado").disabled=true;
			document.getElementById("id_hom_Estadodeclaracion").disabled=true;	
			
			document.getElementById("id_hom_Ano").style.background = "#C9CACB";
			document.getElementById("id_hom_Declarado").style.background = "#C9CACB";
			document.getElementById("id_hom_Lugardeclarado").style.background = "#C9CACB";
			document.getElementById("id_hom_Estadodeclaracion").style.background = "#C9CACB";
			
			document.getElementById("id_hom_Ano").value = "";
			document.getElementById("id_hom_Declarado").value = "";
			document.getElementById("id_hom_Lugardeclarado").value = "";
			document.getElementById("id_hom_Estadodeclaracion").value = "";

		}
	}
</script>
			
