<%- include layouts/header.ejs %>
    <div class="full-page">
      <% if (message) { %>
			<div class="alert"><%= message %></div>
	  <% } %>
	  <h1 class="headline">
        <strong>
          <%=page_title%>
        </strong>
      </h1>
      <div class="">
	  
	  <body onload=’document.forms["caracterizacion"]["Tipodocumento"].focus()’>
    	<form method="post" action="/caracterizacion">		
			
			
			<script>// funcion para que el foco aparezca en el elemento que se quiere  deje la funcion aqui para verla pero la pondremos abajo.... Funciona !!!
				if(!("autofocus" in document.createElement("input")))
				document.getElementById("id_tipodocumento").focus();
			</script>
			
			<%- include layouts/datavictima.ejs %>
				
			<div id="mce-responses" class="clear">
			  <div class="response" id="mce-error-response" style="display:none"></div>
			  <div class="response" id="mce-success-response" style="display:none"></div>
			</div>

			<button type="submit" name="guardar" value="guardar" class="button btn" id="mc-embedded-guardar">
				<span style="margin-top: -1px;">Guardar</span>
			</button>
			
		</form>
		</body>
      </div>
<%- include layouts/footer.ejs %>
