<%- include layouts/header.ejs %>
    <div class="full-page">
      <% if (message) { %>
			<div class="alert"><%= message %></div>
	  <% } %>
	  <h1 class="headline">
        <strong>
          <%=page_title%>
        </strong>
      </h1>
      <div class="">
	  
	  <body onload=’document.forms["caracterizacion"]["Tipodocumento"].focus()’>
    	<form method="post" action="/caracterizacion">		
			
			
			<script>// funcion para que el foco aparezca en el elemento que se quiere  deje la funcion aqui para verla pero la pondremos abajo.... Funciona !!!
				if(!("autofocus" in document.createElement("input")))
				document.getElementById("id_tipodocumento").focus();
			</script>
			
			<%- include layouts/datavictima.ejs %>
				
				
			<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
			<div class="mc-field-group" style="margin: 10px 0 0 0;">
					<strong>
					DESPLAZAMIENTO<br></br>
					</strong>
					
				<input type="text" value="TipoDesplazamiento" name="TipoDesplazamiento" class="required Fiscalia" id="" placeholder="Tipo de Desplazamiento(*)" list="TipoDesplazamiento" tabindex = "89"
				style="width: 200px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Masivo cuando son Más de 10 personas E individual si es menor a 10 " required title="Tipo de desplzamiento!"
				onkeypress='return event.charCode > 0 && event.charCode < 0'/>
				<datalist id="TipoDesplazamiento">
				<option value="Masivo">
				<option value="Individual">
				</datalist> 
				</div>
				<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
				
				<div class="mc-field-group" style="margin: 10px 0 0 0;">
					<strong>
					Causas a las que atribuye el Desplazamiento<br></br>
					</strong>
					
					
					<class="mc-field-group" style="margin: 10px 0 0 0;">					
					<input type="checkbox" name=Causasdeldesplazamiento value="Confrontación">Confrontación Armada <br></br>
					<input type="checkbox" name=Causasdeldesplazamiento value="Amenaza Directa">Amenaza Directa <br></br>
					<input type="checkbox" name=Causasdeldesplazamiento value="Amenaza indirecta">Amenaza indirecta<br></br>
					<input type="checkbox" name=Causasdeldesplazamiento value="Reclutamiento de menores">Reclutamiento de menores<br></br>					
					<input type="checkbox" name=Causasdeldesplazamiento value="Campos minados">Campos Minados<br></br>
					<input type="checkbox" name=Causasdeldesplazamiento value="Asesinato de Familiar">Asesinato de Familiar<br></br>
					<input type="checkbox" name=Causasdeldesplazamiento value="Violencia Generalizada">Violencia Generalizada.<br></br>
					<input type="checkbox" name=Causasdeldesplazamiento value="Otra">Otra<br></br>
				</div>
					</div>
				<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
						
						
					<strong>
					Retorno<br></br>
					</strong>
					
				<input type="text" value="" name="Retorno" class="required Fiscalia" id="" placeholder="Usted Retorno al Lugar de donde se dezplazó?" list="retorno" 
				style="width: 350px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Masivo cuando son Más de 10 personas E individual si es menor a 10 " tabindex="90"
				onkeypress='return event.charCode > 0 && event.charCode < 0'/>
				<datalist id="retorno">
				<option value="Si">
				<option value="No">
				</datalist> 
				
				<input type="text" value="" name="DeseaRetornar" class="required Fiscalia" id="" placeholder="Desea Retornar?" list="DRetorno" 
				style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Masivo cuando son Más de 10 personas E individual si es menor a 10 "tabindex="91"
				onkeypress='return event.charCode > 0 && event.charCode < 0'/>
				<datalist id="DRetorno">
				<option value="Si">
				<option value="No">
				</datalist> 
				
				<input type="text" value="" name="TipoRetorno" class="required Fiscalia" id="" placeholder="Tipo de Retorno?" list="TipoRetorno" 
				style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Masivo cuando son Más de 10 personas E individual si es menor a 10 "tabindex="92"
				onkeypress='return event.charCode > 0 && event.charCode < 0'/>
				<datalist id="TipoRetorno">
				<option value="Individual">
				<option value="Masivo">
				</datalist> 
				
				
				
				<input type="text" value="" name="QuienRetorno" class="required Fiscalia" id="" placeholder="Retorno Toda la Familia?" list="QuienRetorno" 
				style="width: 350px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Masivo cuando son Más de 10 personas E individual si es menor a 10 "tabindex="93"
				onkeypress='return event.charCode > 0 && event.charCode < 0'/>
				<datalist id="QuienRetorno">
				<option value="Si">
				<option value="No">
				</datalist> 
					
				<input type="text" value="" name="RetornoAcompanado" class="required Fiscalia" id="" placeholder="Su Retorno fue acompañado?" list="RetornoAcompañado" 
				style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Masivo cuando son Más de 10 personas E individual si es menor a 10 "tabindex="94"
				onkeypress='return event.charCode > 0 && event.charCode < 0'/>
				<datalist id="RetornoAcompañado">
				<option value="Si">
				<option value="No">
				</datalist> 
					
				<input type="text" value="" name="PlanRetorno" class="required Fiscalia" id="" placeholder="Se formuló un plan de Retorno?" list="PlanRetorno" 
				style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Masivo cuando son Más de 10 personas E individual si es menor a 10 "tabindex="95"
				onkeypress='return event.charCode > 0 && event.charCode < 0'/>
				<datalist id="PlanRetorno">
				<option value="Si">
				<option value="No">
				</datalist> 
				
				<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>				
					<strong>
					Reubicación<br></br>
					</strong>
					
					
				<input type="text" value="" name="Reubicarse" class="required Fiscalia" id="" placeholder="El hogar desea Reubicarse?" list="Reubicarse" 
				style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Masivo cuando son Más de 10 personas E individual si es menor a 10 "tabindex="96"
				onkeypress='return event.charCode > 0 && event.charCode < 0'/>
				<datalist id="Reubicarse">
				<option value="Si">
				<option value="No">
				</datalist> 
				
				
				<input type="text" value="" name="Razon" class="required Fiscalia" id="" placeholder="Razón por la cual desea Reubicarse?" list="Razon" 
				style="width: 280px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Masivo cuando son Más de 10 personas E individual si es menor a 10 "tabindex="97"
				onkeypress='return event.charCode > 0 && event.charCode < 0'/>
				<datalist id="Razon">
				<option value="Se siente Discriminado">
				<option value="La ciudad es Insegura">
				<option value="No hay oprtunidades de trabajo">
				<option value="Prefiere el lugar donde vivía antes">
				<option value="No ha recibido ayuda estatal">
				<option value="Motivo Familiar">
				</datalist> 
				<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>				
				<strong>
					Reunificación Familiar<br></br>
					</strong>
					
					
					
				<input type="text" value="" name="Separacion" class="required Fiscalia" id="" placeholder="En el momento del dezplazamiento la Familia se separó?" list="Separacion" 
				style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Masivo cuando son Más de 10 personas E individual si es menor a 10 "tabindex="98"
				onkeypress='return event.charCode > 0 && event.charCode < 0'/>
				<datalist id="Separacion">
				<option value="Si">
				<option value="No">
				</datalist> 
				
				
					
				<input type="text" value="" name="Unificacion" class="required Fiscalia" id="" placeholder="Se volvió a Unificar?" list="Unificar" 
				style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Masivo cuando son Más de 10 personas E individual si es menor a 10 "tabindex="99"
				onkeypress='return event.charCode > 0 && event.charCode < 0'/>
				<datalist id="Unificar">
				<option value="Si">
				<option value="No">
				</datalist> 
				
				
					
				<input type="text" value="" name="AyudaEstatal" class="required Fiscalia" id="" placeholder="Solicito ayuda Estatal para la Reunificación?" list="Ayuda" 
				style="width: 320px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Masivo cuando son Más de 10 personas E individual si es menor a 10 "tabindex="100"
				onkeypress='return event.charCode > 0 && event.charCode < 0'/>
				<datalist id="Ayuda">
				<option value="Si">
				<option value="No">
				</datalist> 
				
				
					
				<input type="text" value="" name="RecibioAyuda" class="required Fiscalia" id="" placeholder="Recibio la ayuda Solicitada?" list="Rayuda" 
				style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Masivo cuando son Más de 10 personas E individual si es menor a 10 "tabindex="101"
				onkeypress='return event.charCode > 0 && event.charCode < 0'/>
				<datalist id="Rayuda">
				<option value="Si">
				<option value="No">
				</datalist> 
				
				<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>				
				<strong>
					Refugio<br></br>
					</strong>
				
					
				<input type="text" value="" name="Refugio" class="required Fiscalia" id="" placeholder="Ha solicitado Refugio?" list="Refugio" 
				style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Masivo cuando son Más de 10 personas E individual si es menor a 10 "tabindex="102"
				onkeypress='return event.charCode > 0 && event.charCode < 0'/>
				<datalist id="Refugio">
				<option value="Si">
				<option value="No">
				</datalist> 
				
				<div>
				<input type="text" value="" name="Pais" class="required textInput rounded" id="pais" placeholder="En que país?"
			  style="width: 237px; margin-right: 3px; float: left; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" tabindex="103"
			  onkeypress='return event.charCode > 0 && event.charCode < 0'/>
				
				<input type="text" value="" name="AnoRefugio" class="required Sexo" id="Sexo" placeholder="Año" list="año" 
				  style="width: 120px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Año en que Ocurrio el hecho Victimizante!"tabindex="104"
				  onkeypress='return event.charCode > 0 && event.charCode < 0'/>
				<datalist id="año">
				<option value="No Sabe">
					<option value="2014">
				  <option value="2013"> 
				  <option value="2012">
				  <option value="2011">
				  <option value="2010">
				  <option value="2009">
				  <option value="2008">
				  <option value="2006">
				  <option value="2005">
				  <option value="2004">
				  <option value="2003">
				  <option value="2002">
				  <option value="2001">
				  <option value="2000">
				  <option value="1999">
				  <option value="1998">
				  <option value="1997">
				  <option value="1996">
				  <option value="1995">
				  <option value="1994">
				  <option value="1993">
				  <option value="1992">
				  <option value="1991">
				  <option value="1990">
				  <option value="1989">
				  <option value="1988">
				  <option value="1987">
				  <option value="1986">
				  <option value="1985">  				  
				</datalist> 
				
					
				<input type="text" value="" name="RecibioAyudaRefugio" class="required Fiscalia" id="" placeholder="Recibio Ayuda?" list="Ayuda2" 
				style="width: 150px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Masivo cuando son Más de 10 personas E individual si es menor a 10 "tabindex="105"
				onkeypress='return event.charCode > 0 && event.charCode < 0'/>
				<datalist id="Ayuda2">
				<option value="Si">
				<option value="No">
				</datalist> 
				
					
				<input type="text" value="" name="Organizacion" class="required Fiscalia" id="" placeholder="Que organización le Entrego la ayuda?" list="Organizacion" 
				style="width: 300px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Masivo cuando son Más de 10 personas E individual si es menor a 10 "tabindex="106"
				onkeypress='return event.charCode > 0 && event.charCode < 0'/>
				<datalist id="Organizacion">
				<option value="Entidad del Gobierno">
				<option value="ANCUR">
				<option value="ONG">
				<option value="Iglesias">
				<option value="Otros">
				</datalist> 
				
				</div>
				
			<div id="mce-responses" class="clear">
			  <div class="response" id="mce-error-response" style="display:none"></div>
			  <div class="response" id="mce-success-response" style="display:none"></div>
			</div>
			<button type="submit" name="guardar" value="guardar" class="button btn" id="mc-embedded-guardar">
				<span style="margin-top: -1px;">Guardar</span>
			</button>
			
			
	<script>
		function habilitar(value)
		{
			if(value=="1" || value==true)
			{
				// habilitamos
				document.getElementById("Libretamilitar").disabled=false;
			}else if(value=="1" || value==false){
				// deshabilitamos
				document.getElementById("Libretamilitar").disabled=true;
			}
		}
	</script>

		</form>
		</body>
      </div>
    <%- include layouts/footer.ejs %>
