<%- include layouts/header.ejs %>
    <div class="full-page">
      <% if (message) { %>
			<div class="alert"><%= message %></div>
	  <% } %>

      <h1 class="headline">
        <strong>
          <%=page_title%>
        </strong>
      </h1>
      <div class="">
    	<form method="post" action="/consulta">	
			<script>// funcion para que el foco aparezca en el elemento que se quiere  deje la funcion aqui para verla pero la pondremos abajo.... Funciona !!!
				if(!("autofocus" in document.createElement("input")))
				document.getElementById("id_documentoABuscar").focus();
			</script>
			
			<div class="mc-field-group" style="margin: 10px 0 0 0;">
			  <input type="text" autofocus="autofocus" value="" name="documentoABuscar" class="required" id="id_documentoABuscar" placeholder="Ingrese Numero de Documento"
			  required title="Por favor ingresa un numero de documento!"/>
			  <button type="submit" name="consultar" value="consultar" class="button btn" id="mc-embedded-consultar">
				<span style="margin-top: -1px;">Consultar</span>
			  </button>
			</div>
			
			<% if(datavictima){ %>
				<%- include layouts/datavictima.ejs %>
				
				<div id="mce-responses" class="clear">
				  <div class="response" id="mce-error-response" style="display:none"></div>
				  <div class="response" id="mce-success-response" style="display:none"></div>
				</div>
			<% }  %>
		</form>
      </div>
    </div>
<%- include layouts/footer.ejs %>
