<%- include layouts/header.ejs %>
    <div class="full-page">
      <% if (message) { %>
			<div class="alert"><%= message %></div>
	  <% } %>

      <h1 class="headline">
        <strong>
          <%=page_title%>
        </strong>
      </h1>
      <div class="">
    	<form method="post" action="/consulta">		
			<div class="mc-field-group" style="margin: 10px 0 0 0;">
			  <input type="text" value="<% if(data){ %><%=data[0].Numerodocumento %><% } %>" name="Numerodocumento" class="required numerodocumento" id="id_numerodocumento" placeholder="Ingrese Numero de Documento"
			  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" required title="Por favor ingresa un numero de documento!"/>
			  <button type="submit" name="consultar" value="consultar" class="button btn" id="mc-embedded-consultar">
				<span style="margin-top: -1px;">Consultar</span>
			  </button>
			</div>
			<% if(data){ %>
			<div class="mc-field-group">
			  <input type="text" value="<%=data[0].Nombres %>" name="Nombres" class="required textInput rounded" id="mce-FNAME" placeholder="First name"
			  style="color: #A9AAAB; width: 111px; margin-right: 3px; float: left; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" disabled/>
			</div>
			<div class="mc-field-group">
			  <input type="text" value="<%=data[0].Apellidos %>" name="Apellidos" class="required textInput rounded" id="mce-LNAME" placeholder="Last name"
			  style="color: #A9AAAB; width: 111px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" disabled/>
			</div>
			
			
			
			<div id="mce-responses" class="clear">
			  <div class="response" id="mce-error-response" style="display:none"></div>
			  <div class="response" id="mce-success-response" style="display:none"></div>
			</div>
			<%} else { %>
					<!-- <h2>No encontre nada</h2> -->
			<% }  %>
		</form>
      </div>
    </div>
<%- include layouts/footer.ejs %>
