<%- include layouts/header.ejs %>
    <div class="full-page">
      <h1 class="headline">
        <strong>
          <%=page_title%>
        </strong>
      </h1>
      <div class="">
			<!-- <form method="post" action="/customers/add">
                <table cellpadding="11">
                <tr>
                    <td class="label">Name</td><td>: <input type="text" name="name" required></td>
                 </tr>
                 <tr>
                    <td class="label" valign="top">Address</td><td valign="top">: <textarea name="address" required cols="30" rows="5"></textarea></td>
                </tr>
                <tr>
                    <td class="label">Email</td><td>: <input type="text" name="email" required></td>
                 </tr>
                  <tr>
                    <td class="label">Phone</td><td>: <input type="text" name="phone" required></td>
                 </tr>
                 <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp; <input type="submit" name="submit" value="Save">
                       <input type="button" name="cancel" value="Cancel" class="cancel" onClick="cancelAdd()">
                    </td>
                 </tr>
                </table>
            </form>
 -->	<form method="post" action="/consulta/buscar">		
			<div class="mc-field-group" style="margin: 10px 0 0 0;">
			  <input type="text" value="" name="cedula" class="required cedula" id="id_cedula" placeholder="Ingrese cedula"
			  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" />
			</div>
			<!-- <h4>Get Holacracy Updates</h4> -->
			<div class="mc-field-group" style="margin: 10px 0 0 0;">
			  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email address"
			  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" />
			</div>
			<div class="mc-field-group">
			  <input type="text" value="" name="FNAME" class="required textInput rounded" id="mce-FNAME" placeholder="First name"
			  style="width: 111px; margin-right: 3px; float: left; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" />
			</div>
			<div class="mc-field-group">
			  <input type="text" value="" name="LNAME" class="required textInput rounded" id="mce-LNAME" placeholder="Last name"
			  style="width: 111px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" />
			</div>
			<div id="mce-responses" class="clear">
			  <div class="response" id="mce-error-response" style="display:none"></div>
			  <div class="response" id="mce-success-response" style="display:none"></div>
			</div>
			<div class="clear">
			  <a href="/consulta/buscar/" target="_parent">
				  <button type="submit" name="consultar" value="consultar" class="button btn" id="mc-embedded-consultar">
					<span style="margin-top: -1px;">Consultar</span>
				  </button>
			  </a>
			</div>
		</form>
		<div id="resultadobusquedavictima">
			<% if(data.length){ %>
                     
					 <h2>Nombre: <span><%=data[0].nombre %> / <%=data[0].apellido %></span></h2>
					 
                 
				<%	
			} else{ %>
				<h2>No encontre nada</h2>
             <!--     <tr>
                    <td colspan="3">No user</td>
                 </tr>
 -->            <% }  %>
		</div>
      </div>
    </div>
<%- include layouts/footer.ejs %>
