<%- include layouts/header.ejs %>
    <div class="full-page">
      <h1 class="headline">
        <strong>
          <%=page_title%>
        </strong>
      </h1>
	  <% if(data.length){ %>
		<form method="post" action="/excelLista">
			<div class="mc-field-group" style="margin: 10px 0 0 0;">
			  <button type="submit" name="Exportar" value="Exportar" class="button btn" id="id_Exportar">
				<span style="margin-top: -1px;">Exportar a Excel</span>
			  </button>
			</div>
		
			<div class="" style="overflow:scroll; height:400px;">
		
			<% for(var i = 0;i < data.length;i++) { %>
			<div>
				<input type="text" value="<%=(i+1)%>" name="Numero" id="id_Numero" style="width: 40px;" READONLY/>
				<input type="text" value="<%=data[i].Tipodocumento %>" name="Tipodocumento" id="id_tipodocumento" style="width: 180px;" READONLY/>
				<input type="text" value="<%=data[i].Numerodocumento %>" name="Numerodocumento" id="id_Numerodocumento" style="width: 100px;" READONLY/>
				<input type="text" value="<%=data[i].Nombres %>" name="Nombres" id="id_Nombres" READONLY/>
				<input type="text" value="<%=data[i].Apellidos %>" name="Apellidos" id="id_Apellidos" READONLY/>
		    </div>
              		
			<%} %>
			</div>
		</form>
	  <%} %>
    </div>
<%- include layouts/footer.ejs %>
